Django==1.8.2
django-guardian==1.3.2
djangorestframework==3.3.2
markdown==2.6.5
django-filter==0.11.0
psycopg2==2.6.1
pyyaml==3.11
pytz==2015.7
mixer==5.3.1
oauth2client==1.5.2
pycrypto==2.6.1
google-api-python-client==1.4.2
celery==3.1.19
django-celery==3.1.17
flower==0.8.3
requests==2.9.1
transliterate==1.7.6
XlsxWriter
