<div class="sms-delivery-content" ng-controller="SmsDeliveryCtrl as vm">
    <div class="panel panel-default dialog-wrapper">
        <div class="panel-heading dialog-header">
            <div class="title">Управление СМС-рассылкой</div>
            <div class="ngdialog-close"></div>
        </div>
        <div class="panel-body panel-sms-delivery">
            <uib-tabset justified="true">
                <uib-tab heading="Ручной режим" active="true">
                    <div class="manual-mode-wrapper">
                        <div class="filters">
                            <div class="client-counter">
                                <span>Выбрано клиентов: </span>
                                <span>{{ vm.foundClientList.length }}</span>
                            </div>
                            <div class="custom-date-range">
                                <input type="text" datetime-picker="dd.MM.yyyy" class="custom-date-start"
                                       ng-model="vm.dateRange.dateStart.val" close-text="OK"
                                       date-text="Дата" enable-time="false" readonly
                                       ng-click="vm.dateRange.dateStart.onDateClick()"
                                       is-open="vm.dateRange.dateStart.isOpen"/> -
                                <input type="text" datetime-picker="dd.MM.yyyy" class="custom-date-end"
                                       ng-model="vm.dateRange.dateEnd.val" close-text="OK"
                                       date-text="Дата" enable-time="false" readonly
                                       ng-click="vm.dateRange.dateEnd.onDateClick()"
                                       is-open="vm.dateRange.dateEnd.isOpen"/>
                                <button on-custom-period-range="vm.dateFilterApply(range)"
                                        class="custom-period-btn">Применить фильтр
                                </button>
                            </div>
                            <button class="btn-select-all" ng-click="vm.dateFilterApply('None')">Выбрать всех</button>
                        </div>
                        <div class="msg-body">
                            <textarea class="sms-msg" ng-model="vm.msgTextInManualMode"
                                      placeholder="Введите сообщение для отправки"></textarea>
                            <div class="msg-tips"><span class="tip-title">{client_name}</span> - имя клиента</div>
                        </div>
                        <button class="btn btn-default btn-lg"
                                ng-click="vm.sendMessagesImManualMode()">Отправить</button>
                    </div>
                </uib-tab>
                <uib-tab heading="По расписанию" select="vm.onScheduledModeSelect()">
                    <div class="scheduled-mode-wrapper">
                        <div class="scheduled-events-block">
                            <span class="title">Создание/редактирование события</span>

                            <div class="edit-event-block">
                                <div class="form-group event-name">
                                    <label for="e-name">Имя:</label>
                                    <input class="form-control" ng-model="vm.event.checked.name" type="text"
                                           id="e-name">
                                </div>
                                <div class="event-delay">
                                    <div class="form-group event-days">
                                        <label for="e-days">Дней:</label>
                                        <input class="form-control" ng-model="vm.event.checked.days_num" type="number"
                                               min="1"
                                               id="e-days">
                                    </div>
                                    <div class="form-group event-type">
                                        <label for="e-type"></label>
                                        <select class="form-control" ng-model="vm.event.checked.type" id="e-type">
                                            <option value="before" selected>до праздника</option>
                                            <option value="after">после праздника</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group event-msg">
                                    <label for="e-msg"></label>
                                    <textarea class="form-control" ng-model="vm.event.checked.template"
                                              placeholder="Введите текст сообщения" id="e-msg"></textarea>
                                </div>
                                <div class="msg-tips">
                                    <span class="tip-title">{client_name}</span> - имя клиента
                                    <span class="tip-title">{program}</span> - название программы
                                    <span class="tip-title">{celebrate_date}</span> - дата праздника
                                </div>
                                <button ng-click="vm.event.onSave()">Сохранить</button>
                            </div>
                            <!-- <hr class="divider"/> -->
                            <div class="event-list-title">
                                <span>Список событий</span>
                                <a class="add-event" ng-click="vm.event.onNewEventCreate()">
                                    <i class="fa fa-plus-square"></i>
                                </a>
                            </div>

                            <div class="event-list-block">
                                <div class="empty-event-list"
                                     ng-if="vm.event.list.length === 0 && vm.event.isEventsLoaded">Список событий пуст.
                                </div>
                                <div class="event-item"
                                     ng-repeat="event in vm.event.list"
                                     ng-if="vm.event.list.length > 0 && vm.event.isEventsLoaded"
                                     ng-click="vm.event.onSelect(event)">
                                    <a class="event-delete" ng-click="vm.event.onDelete(event)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    <div class="event-name">{{ event.name }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="checking-messages-block">
                            <span class="title">Панель управления cooбщениями</span>
                            <div class="messages-block">
                                <div class="messages-wrapper">
                                    <div class="message-item" ng-class="{'disabled': message.disabled}"
                                         ng-repeat="message in vm.smsMessage.list">
                                        <div class="message-header">
                                            <div class="msg-meta">
                                                <div class="msg-event-name"><span>Событие:</span>{{ message.event.name }}</div>
                                                <div class="client-info">
                                                    <span>Клиент:</span>
                                                    <div class="msg-client-name">{{ message.order.client.name }}</div>
                                                    <div class="msg-client-phone">
                                                        (тел. {{ message.order.client.phone }})
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="msg-disabled" ng-click="vm.smsMessage.onDisableClick(message)">
                                                <i class="fa fa-ban"></i>
                                            </a>
                                        </div>
                                        <div class="msg-text">{{ message.message }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="messages-control-block">
                                <button ng-click="vm.sendMessagesImScheduledMode()">Отправить</button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Настройка API" select="vm.onSmsApiSettingsSelect()">
                    <div class="api-settings-wrapper">
                        <div class="api-settings">
                            <div class="form-group">
                                <label for="api-login">Логин пользователя:</label>
                                <input class="form-control" ng-model="vm.smsApiSettings.login" type="text"
                                       id="api-login">
                            </div>
                            <div class="form-group">
                                <label for="api-apikey">Apikey:</label>
                                <input class="form-control" ng-model="vm.smsApiSettings.apikey" type="text"
                                       id="api-apikey">
                            </div>
                            <div class="form-group">
                                <label for="api-sender">Имя отправителя:</label>
                                <input class="form-control" ng-model="vm.smsApiSettings.sender" type="text"
                                       id="api-sender">
                            </div>
                            <div class="settings-controls">
                                <button class="btn-save-api-settings"
                                        ng-click="vm.smsApiSettings.saveSettings()">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
