<div class="profile-content" ng-controller="UserProfileCtrl as vm">
    <form class="user-profile-form" ng-submit="vm.onSaveUserProfileSubmit()" novalidate>
        <div class="panel panel-default dialog-wrapper">
            <div class="panel-heading dialog-header">
                <div class="title">Профиль пользователя</div>
                <div class="ngdialog-close"></div>
            </div>
            <div class="panel-body user-profile-panel-body">
                <formly-form form="vm.form" model="vm.model" fields="vm.fields" fields-separator></formly-form>
            </div>
            <div class="panel-footer" ng-if="!vm.readonly">
                <button type="submit" class="btn btn-primary submit-button">Сохранить</button>
            </div>
        </div>
    </form>
</div>
