<div class="form-group">
    <div>
        <label for="model[options.id || index]" class="control-label"
               ng-if="options.templateOptions.label">{{ options.templateOptions.label }}</label>
        <ol class="nya-bs-select col-sm-12 col-xs-12 col-md-12 col-lg12 form-control" ng-model="model[options.key]"
            data-live-search="true" disabled="options.templateOptions.options.length === 0"
            optional-directives id="{{ options.key }}">
            <hr>
            <li nya-bs-option="option in options.templateOptions.options track by $index">
                <a>
                    <span>{{ option.name }}</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
        </ol>
    </div>
</div>
