<div class="address-block">
    <div ng-model="model[options.key]">
        <div class="address-field address-city">
            <label class="control-label">г.</label>
            <input class="form-control city-field" ng-model="model[options.key].city">
        </div>
        <div class="address-field address-street">
            <label class="control-label">ул.</label>
            <input class="form-control street-field" ng-model="model[options.key].street">
        </div>
        <div class="address-field address-house">
            <label class="control-label">д.</label>
            <input class="form-control house-field" ng-model="model[options.key].house">
        </div>
        <div class="address-field address-apartment">
            <label class="control-label">кв.</label>
            <input class="form-control apartment-field" ng-model="model[options.key].apartment">
        </div>
        <div class="address-field address-additional-info">
            <label class="control-label">Доп. инф.</label>
            <textarea class="form-control address-details-field"
                      ng-model="model[options.key].details"></textarea>
        </div>
    </div>
</div>
