{% extends "orders_manager/bbase.html" %}

{% load static %}

{% block title %}Смена пароля пользователя{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css"
          href="{% static "orders_manager/css/profile.css" %}"/>
{% endblock %}

{% block page-content %}
    <div class="profile-control-panel">
        <div class="action-btns">
            <a class="cancel-btn" href="{% url 'orders_manager:my_profile' %}">
                <div>Отмена</div>
            </a>
            <button type="submit" form="change-pwd-form">Изменить</button>
        </div>
    </div>
    <hr class="control-panel__border">
    <form action="" method="post" id="change-pwd-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-line">
                <div class="form-field__lbl">{{ field.label }}</div>
                <div class="form-field__val">
                    {{ field }}
                    {% if field.errors %}
                        <div class="form-field__error">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="form-field__error">{{ error|escape }}</div>
        {% endfor %}
    </form>
{% endblock %}
