<div class="order-block">
    <a class="create-client-btn">Добавить заказчика</a>
    <div id="create-client">
        <form action="{% url "orders_manager:simple_create_client" %}"
              method="post" id="client-form">
            {% csrf_token %}
            {% for error in client_form.non_field_errors %}
                <div class="form-errors">{{ error|escape }}</div>
            {% endfor %}
            <div class="form-line">
                <div class="form-line__label">{{ client_form.name.label_tag }}</div>
                <div class="form-line__value">
                    {{ client_form.name }}
                    {% if client_form.name.errors %}
                        {{ client_form.name.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="form-line">
                <div class="form-line__label">{{ client_form.phone.label_tag }}</div>
                <div class="form-line__value">
                    {{ client_form.phone }}
                    {% if client_form.phone.errors %}
                        {{ client_form.phone.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="form-line">
                <div class="form-line__label">{{ client_form.child_name.label_tag }}</div>
                <div class="form-line__value">
                    {{ client_form.child_name }}
                    {% if client_form.child_name.errors %}
                        {{ client_form.child_name.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="form-line">
                <div class="form-line__label">{{ client_form.child_age.label_tag }}</div>
                <div class="form-line__value">
                    {{ client_form.child_age }}
                    {% if client_form.child_age.errors %}
                        {{ client_form.child_age.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="form-errors"></div>
            <div class="action-btns">
                <a class="cancel-btn">
                    <div>Отмена</div>
                </a>
                <a class="add-client-btn">
                    <div>Добавить</div>
                </a>
            </div>
        </form>
    </div>
    <form action="" method="post" id="order-form">
        {% csrf_token %}
        {% for error in order_form.non_field_errors %}
            <div class="form-errors">{{ error|escape }}</div>
        {% endfor %}
        <div class="form-line">
            <div class="form-line__label">{{ order_form.client.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.client }}
                {% if order_form.client.errors %}
                    {{ order_form.client.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">{{ order_form.client_children.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.client_children }}
                {% if order_form.client_children.errors %}
                    {{ order_form.client_children.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.celebrate_date.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.celebrate_date }}
                {% if order_form.celebrate_date.errors %}
                    {{ order_form.celebrate_date.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.celebrate_place.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.celebrate_place }}
                {% if order_form.celebrate_place.errors %}
                    {{ order_form.celebrate_place.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.address.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.address }}
                {% if order_form.address.errors %}
                    {{ order_form.address.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.program.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.program }}
                {% if order_form.program.errors %}
                    {{ order_form.program.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.possible_program_executors.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.possible_program_executors }}
                {% if order_form.possible_program_executors.errors %}
                    {{ order_form.possible_program_executors.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.duration.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.duration }}
                {% if order_form.duration.errors %}
                    {{ order_form.duration.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.price.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.price }}
                {% if order_form.price.errors %}
                    {{ order_form.price.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.additional_services.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.additional_services }}
                {% if order_form.additional_services.errors %}
                    {{ order_form.additional_services.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.possible_services_executors.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.possible_services_executors }}
                {% if order_form.possible_services_executors.errors %}
                    {{ order_form.possible_services_executors.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.details.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.details }}
                {% if order_form.details.errors %}
                    {{ order_form.details.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.executor_comment.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.executor_comment }}
                {% if order_form.executor_comment.errors %}
                    {{ order_form.executor_comment.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.discount.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.discount }}
                {% if order_form.discount.errors %}
                    {{ order_form.discount.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.total_price.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.total_price }}
                {% if order_form.total_price.errors %}
                    {{ order_form.total_price.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-line">
            <div class="form-line__label">
                {{ order_form.total_price_with_discounts.label_tag }}</div>
            <div class="form-line__value">
                {{ order_form.total_price_with_discounts }}
                {% if order_form.total_price_with_discounts.errors %}
                    {{ order_form.total_price_with_discounts.errors }}
                {% endif %}
            </div>
        </div>
    </form>
</div>
