{% extends "orders_manager/bbase.html" %}

{% load static %}

{% block title %}Создание профиля пользователя{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css"
          href="{% static "orders_manager/css/profile.css" %}"/>
{% endblock %}

{% block page-content %}
    <div class="profile-control-panel">
        <div class="action-btns">
            <a class="cancel-btn"
               href="{% url 'orders_manager:profiles_list' %}">
                <div>Отмена</div>
            </a>
            <button type="submit" form="edit-profile-form">Создать профиль</button>
        </div>
    </div>
    <hr class="control-panel__border">
    <div class="profile-info">
        <form action="" method="post" id="edit-profile-form"
              class="profile-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-line">
                    <div class="form-field__lbl">{{ field.label }}</div>
                    {% if field.field.choices %}
                        <div class="form-field__ch_val">
                            {{ field }}
                        </div>
                    {% else %}
                        <div class="form-field__val">
                            {{ field }}
                            {% if field.errors %}
                                <div class="form-field__error">{{ field.errors|striptags }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="form-field__error">{{ error|escape }}</div>
            {% endfor %}
        </form>
    </div>
{% endblock %}
