{% extends "orders_manager/bbase.html" %}

{% load static %}

{% block title %}Заказы{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css"
          href="{% static "vendors/css/fullcalendar.min.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "orders_manager/css/orders.css" %}"/>
{% endblock %}

{% block page_content %}
    <div class="page-content" ng-controller="CalendarCtrl">
        <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar" calendar-style></div>
    </div>
{% endblock %}

{% block extrascripts %}{% endblock %}
