{% extends "orders_manager/bbase.html" %}

{% load static %}
{% load orders_manager_tags %}

{% block title %}Список пользователей{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css"
          href="{% static "orders_manager/css/users.css" %}"/>
{% endblock %}

{% block page-content %}
    <div class="users-block">
        <div class="users-block__title">
            <span class="user-block__label">Список менеджеров:</span>
            <a class="add-user-btn" href="{% url "orders_manager:create_manager" %}">
                Добавить менеджера
            </a>
        </div>
        <hr>
        <div class="user-list">
            {% if managers %}
                {% show_user_info_line managers %}
            {% else %}
                <span class="empty-list">Список менеджеров пуст..</span>
            {% endif %}
        </div>
    </div>
    <div class="users-block">
        <div class="users-block__title">
            <span class="user-block__label">Список аниматоров:</span>
            <a class="add-user-btn" href="{% url "orders_manager:create_animator" %}">
                Добавить аниматора
            </a>
        </div>
        <hr>
        <div class="user-list">
            {% if animators %}
                {% show_user_info_line animators %}
            {% else %}
                <span class="empty-list">Список аниматоров пуст..</span>
            {% endif %}
        </div>
    </div>
    <div class="users-block">
        <div class="users-block__title">
            <span class="user-block__label">Список фотографов:</span>
            <a class="add-user-btn" href="{% url "orders_manager:create_photographer" %}">
                Добавить фотографа
            </a>
        </div>
        <hr>
        <div class="user-list">
            {% if photographers %}
                {% show_user_info_line photographers %}
            {% else %}
                <span class="empty-list">Список фотографов пуст..</span>
            {% endif %}
        </div>
    </div>
    <div class="pop-message hidden">
        <div class="msg-window">
            <span class="msg-window__notice">
                Вы действительно хотите удалить пользователя?
            </span>

            <div class="msg-window__btns">
                <a class="cancel-btn">Нет</a>
                <a class="accept-btn">Да</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
        function delete_user(user_name) {
            var pop_msg = $(".pop-message");
            var btns = $(".msg-window__btns");
            var no = btns.find(".cancel-btn");
            var yes = btns.find(".accept-btn");
            pop_msg.removeClass('hidden');
            no.on("click", function() {
                pop_msg.addClass("hidden");
            });
            yes.on("click", function() {
                $.ajax({
                    url: '/user/' + user_name + '/delete/',
                    success: function(data){
                        pop_msg.addClass("hidden");
                        location.reload();
                    }
                });
            })
        }
    </script>
{% endblock %}
