{% extends "orders_manager/bbase.html" %}

{% load static %}
{% load orders_manager_tags %}

{% block title %}
    {% if request.path|match_url_pattern:"create_manager" %}
        Создание менеджера
    {% elif request.path|match_url_pattern:"create_animator" %}
        Создание аниматора
    {% elif request.path|match_url_pattern:"create_photographer" %}
        Создание фотографа
    {% elif request.path|match_url_pattern:"edit_user" %}
        Редактирование профиля пользователя
    {% elif request.path|match_url_pattern:"user_profile" %}
        Просмотр профиля пользователя
    {% elif request.path|match_url_pattern:"my_profile" %}
        Мой профиль
    {% endif %}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css"
          href="{% static "orders_manager/css/profile.css" %}"/>
{% endblock %}

{% block page-content %}
    {% if request.path|match_url_pattern:"my_profile" %}
        <div class="profile-control-panel">
            <a class="change-password-btn"
               href="{% url 'orders_manager:change_password' %}">
                Сменить пароль
            </a>
        </div>
        <hr class="control-panel__border">
    {% elif request.path|match_url_pattern:"user_profile" %}
        <div class="profile-control-panel__empty"></div>
    {% endif %}
    <div class="profile-info">
        <form action="" method="post" class="profile-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-line">
                    <div class="form-field__lbl">{{ field.label }}</div>
                    {% if field.field.choices %}
                        <div class="form-field__ch_val">
                            {{ field }}
                        </div>
                    {% else %}
                        <div class="form-field__val">
                            {{ field }}
                            {% if field.errors %}
                                <div class="form-field__error">{{ field.errors|striptags }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="form-field__error">{{ error|escape }}</div>
            {% endfor %}

            <div class="action-btns">
                {% if request.path|match_url_pattern:"create_manager" or request.path|match_url_pattern:"create_animator" or request.path|match_url_pattern:"create_photographer" %}
                    <a class="cancel-btn"
                       href="{% url 'orders_manager:user_list' %}">
                        <div>Отмена</div>
                    </a>
                    <button type="submit">Создать профиль</button>
                {% elif request.path|match_url_pattern:"edit_user" %}
                    <a class="cancel-btn"
                       href="{% url 'orders_manager:user_list' %}">
                        <div>Отмена</div>
                    </a>
                    <button type="submit">Обновить профиль</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

