.content {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 13pt;
  margin: .8em 1em 2em;
  min-height: 30em;
}

.all-handbooks-panel {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #bbb;
  margin-right: 1em;
  min-width: 11em;
  padding: .5em .4em;
}
.all-handbooks-panel .handbook__btn {
  -moz-box-shadow: 0.6px 0.6px 4px 0.2px #ccc;
  -webkit-box-shadow: 0.6px 0.6px 4px 0.2px #ccc;
  box-shadow: 0.6px 0.6px 4px 0.2px #ccc;
  background: #fdfdfd;
  border: 1px solid #9cafc3;
  border-radius: 1px;
  color: #546f8b;
  font-size: 11pt;
  margin: .2em .3em;
  padding: .5em;
  text-align: center;
  text-decoration: none;
}
.all-handbooks-panel .active {
  -moz-box-shadow: 0.6px 0.6px 4px 0.2px transparent;
  -webkit-box-shadow: 0.6px 0.6px 4px 0.2px transparent;
  box-shadow: 0.6px 0.6px 4px 0.2px transparent;
  background: #e2e2e2;
}
