.programs-content {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.programs-content .programs-panel-body {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex: 1 1;
  flex: 1 1;
  height: 500px;
  padding: 0;
}
.programs-content .grid-wrapper {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  width: 580px;
}
.programs-content .grid-wrapper .grid-control-panel {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background: #fafafa;
  padding: 2px;
}
.programs-content .grid-wrapper .grid-control-panel .btn-add {
  margin-right: 4px;
  width: 41px;
}
.programs-content .grid-wrapper .grid-control-panel .search-field {
  width: 432px;
}
.programs-content .grid-wrapper .grid {
  -webkit-flex: 1 1;
  flex: 1 1;
  background: #fdfdfd;
  border-right-width: 0;
}
.programs-content .grid-wrapper .ui-grid-cell {
  cursor: hand;
  cursor: pointer;
}
.programs-content .grid-wrapper .ui-grid-row-selected .ui-grid-cell {
  border-color: #aaa;
}
.programs-content .grid-wrapper .pagination-container {
  margin: 8px auto;
}
.programs-content .grid-wrapper .ctrl-btns-wrapper {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.programs-content .grid-wrapper .ctrl-btn {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 1px;
  padding: 2px;
  width: 27px;
}
.programs-content .grid-wrapper .ctrl-btn:first-child {
  margin-left: 3px;
}
.programs-content .grid-wrapper .ctrl-btn:last-child {
  margin-left: 8px;
}
.programs-content .details-wrapper {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 4px;
}
.programs-content .program-form {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1 1;
  flex: 1 1;
}
.programs-content .program-form .details-body {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1 1;
  flex: 1 1;
  background: #fafafa;
  border: 1px solid #ccc;
}
.programs-content .program-form .details-body .formly {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 18px 14px;
}
.programs-content .program-form .details-body .form-btns-container {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  height: 46px;
  padding-right: 6px;
}
.programs-content .program-form .details-body .form-btns-container .btn-save {
  margin-right: 4px;
}
.programs-content .program-form .form-group {
  margin: 0 0 12px;
}
.programs-content .program-form .form-group > div {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
.programs-content .program-form .form-group > div .control-label {
  font-size: 10pt;
  font-weight: normal;
  line-height: 1;
}
.programs-content .program-form .form-group > div .form-control {
  height: 34px;
}
.programs-content .program-form .form-group > div .many-to-many-group {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  max-height: 206px;
  overflow-y: auto;
  padding: 4px;
}
.programs-content .program-form .form-group > div .many-to-many-container {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
}
.programs-content .program-form .form-group > div .many-to-many-container .item-value {
  -moz-box-shadow: 1px 1px 3px 0.2px #eee;
  -webkit-box-shadow: 1px 1px 3px 0.2px #eee;
  box-shadow: 1px 1px 3px 0.2px #eee;
  background: #E4F1F5;
  border: 1px solid #888;
  border-radius: 2px;
  font-size: 11pt;
  line-height: 1;
  margin: 2px;
  padding: 2px 4px;
}
.programs-content .program-form .form-group > div .error-messages {
  display: none;
}
.programs-content .program-prices {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1 1;
  flex: 1 1;
}
.programs-content .program-prices .details-header {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  background: #fafafa;
  border: 1px solid #ccc;
  border-bottom-width: 0;
  height: 34px;
  margin: 0 8px;
  padding: 2px;
}
.programs-content .program-prices .details-body {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1 1;
  flex: 1 1;
  padding: 0 8px;
}
.programs-content .program-prices .grid {
  -webkit-flex: 1 1;
  flex: 1 1;
  background: #fdfdfd;
}
.programs-content .program-prices .ctrl-btns-wrapper {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.programs-content .program-prices .ctrl-btn {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 1px;
  padding: 2px;
  width: 27px;
}
.programs-content .program-prices .ctrl-btn:first-child {
  margin-left: 4px;
}
.programs-content .program-prices .btn-add {
  margin: 0 1px;
  padding: 0;
  width: 28px;
}
