.content {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.handbook-block {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  -webkit-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  background: #fafafa;
  border: 1px solid #ccc;
  font-size: 13pt;
  min-height: 27em;
  padding: 0 .8em;
}
.handbook-block .handbook__title {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  color: #555;
  font-size: 10pt;
  margin: .8em .8em 0 2em;
  min-height: 1em;
}
.handbook-block .handbook__title .program__name {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-bottom: .1em;
}
.handbook-block .empty-program-list {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 11pt;
  height: 4em;
  margin: .5em 1em;
}
.handbook-block .empty-program-list span {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: block;
  padding: 1.2em;
}
.handbook-block .programs-list {
  margin: .8em .5em 2em;
  max-height: 26.3em;
  overflow-y: auto;
  padding: 0 .5em;
}
.handbook-block .programs-list .program-line {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: hand;
  cursor: pointer;
  font-size: 11pt;
  height: 1.4em;
  margin: .2em 0;
  padding: .1em;
  transition-duration: .3s;
}
.handbook-block .programs-list .program-line__name {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-left: .4em;
}
.handbook-block .programs-list a {
  line-height: .8;
  margin: .05em .2em;
}
.handbook-block .programs-list img {
  -moz-box-shadow: 1.2px 1.2px 2px 0.3px #ccc;
  -webkit-box-shadow: 1.2px 1.2px 2px 0.3px #ccc;
  box-shadow: 1.2px 1.2px 2px 0.3px #ccc;
  background: #f6f6f6;
  border-radius: 1px;
  height: 14px;
  padding: .1em;
  width: auto;
}
.handbook-block .programs-list .checked {
  background: #dee3e8;
  border: 1px solid #aaa;
  color: #444;
}
.handbook-block .programs-list .checked img {
  -moz-box-shadow: 1.2px 1.2px 2px 0.3px #888;
  -webkit-box-shadow: 1.2px 1.2px 2px 0.3px #888;
  box-shadow: 1.2px 1.2px 2px 0.3px #888;
}

.create-program-btn {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -moz-box-shadow: 0.6px 0.6px 4px 0.2px #ccc;
  -webkit-box-shadow: 0.6px 0.6px 4px 0.2px #ccc;
  box-shadow: 0.6px 0.6px 4px 0.2px #ccc;
  border: 1px solid #5a6f81;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.create-program-btn img {
  height: 1em;
  margin: 0;
  width: auto;
}

.prices-block {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  -webkit-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  background: #f2f2f2;
  border: 1px solid #ccc;
  margin-left: 1em;
  margin-right: .5em;
  width: 18.6em;
}
.prices-block .prices-block__name {
  background: #c0cad3;
  border-bottom: 1px solid #aaa;
  color: #4a5b69;
  font-size: 11pt;
  padding: .2em 0;
  text-align: center;
}
.prices-block .new-price-block {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
  border-bottom: 1px solid #aaa;
  padding: .2em 0;
}
.prices-block .new-price-form {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 .6em 0 .6em;
  padding: .4em;
}
.prices-block .new-price-form .form-line {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  margin-right: .4em;
  text-decoration: underline;
}
.prices-block .new-price-form .form-field__lbl {
  font-size: 10pt;
}
.prices-block .new-price-form input {
  border: 1px solid #888;
  color: #555;
  font-size: 11pt;
  height: 1.5em;
  margin-right: .2em;
  text-align: center;
  width: 5em;
}
.prices-block .new-price-form a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  -webkit-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  -webkit-align-self: center;
  align-self: center;
  background: #afcbaf;
  border: 1px solid #6b9f6b;
  color: #394651;
  cursor: hand;
  cursor: pointer;
  font-size: 8pt;
  margin-left: .5em;
  padding: .3em .5em;
  text-decoration: none;
}
.prices-block .prices__title {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  font-size: 10pt;
  margin: .8em .9em 0;
  min-height: 1em;
  width: 18em;
}
.prices-block .prices__title .program__duration {
  margin-left: 1em;
  width: 10em;
}
.prices-block .empty-price-list {
  -moz-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  -webkit-box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  box-shadow: 0.6px 0.6px 4px 0.2px #ddd;
  background: #fdfdfd;
  border: 1px solid #bbb;
  border-radius: 2px;
  color: #555;
  font-size: 10pt;
  margin: 2em;
  padding: 1.4em .5em;
  text-align: center;
}

.prices {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  margin: .3em 1em 2.2em;
  min-height: 21em;
  padding: .2em;
}
.prices .price-form {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -moz-box-shadow: 0.6px 0.6px 2px 0.2px #ddd;
  -webkit-box-shadow: 0.6px 0.6px 2px 0.2px #ddd;
  box-shadow: 0.6px 0.6px 2px 0.2px #ddd;
  background: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 1.6em;
  margin-bottom: .2em;
}
.prices .form-line {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
.prices .form-line .form-field__lbl {
  font-size: 10pt;
}
.prices .form-line input {
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid #888;
  color: #333;
  font-family: arian_amu_serifregular, serif;
  font-size: 11pt;
  margin-right: .2em;
  text-align: center;
}
.prices .form-line input[id^=id_][id$=duration] {
  margin-left: 1em;
  width: 2.4em;
}
.prices .form-line input[id^=id_][id$=price] {
  width: 5em;
}
.prices .form-line:first-child {
  margin-right: 2em;
}
.prices .price-control-box {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.prices .price-control-box a {
  -webkit-align-self: center;
  align-self: center;
  -moz-box-shadow: 0.6px 0.6px 2px 0.2px #e1e1e1;
  -webkit-box-shadow: 0.6px 0.6px 2px 0.2px #e1e1e1;
  box-shadow: 0.6px 0.6px 2px 0.2px #e1e1e1;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  cursor: hand;
  line-height: 0;
  margin-right: .4em;
  padding: .06em;
}
.prices .price-control-box img {
  height: .5em;
  width: auto;
}

.control-panel__border {
  border-bottom-color: #fff;
  border-top-color: #ccc;
  margin: .1em .8em .1em;
}
