.page-content {
  margin: 1em 2em;
  padding: 1em;
}

#calendar {
  -moz-box-shadow: 1px 1px 10px 1px gray;
  -webkit-box-shadow: 1px 1px 10px 1px gray;
  box-shadow: 1px 1px 10px 1px gray;
  border: 1px solid gray;
}
#calendar .panel-heading {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-shadow: 1px 1px 8px 0.05px #333;
  -webkit-box-shadow: 1px 1px 8px 0.05px #333;
  box-shadow: 1px 1px 8px 0.05px #333;
  background: #e05b49;
  border-bottom: 1px solid #da3c26;
  color: #ddd;
  margin: 0;
  padding: 8px;
  position: relative;
}
#calendar .panel-heading .fc-left {
  -webkit-order: 1;
  order: 1;
}
#calendar .panel-heading .calendar-view-btn {
  border: 1px solid #777;
  border-radius: 0;
  height: 40px;
  margin: 0;
  width: 100px;
  position: relative;
  z-index: 0;
}
#calendar .panel-heading .fc-state-active .calendar-view-btn {
  border: 1px solid #333;
  position: relative;
}
#calendar .panel-heading .calendar-view-btn:first-child {
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
}
#calendar .panel-heading .calendar-view-btn:last-child {
  border-left-width: 0;
  border-radius: 0 4px 4px 0;
}
#calendar .panel-heading .fc-center {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1 1;
  flex: 1 1;
  -webkit-order: 2;
  order: 2;
}
#calendar .panel-heading .fc-right {
  -webkit-order: 3;
  order: 3;
}
#calendar .panel-heading .fc-clear {
  -webkit-order: 4;
  order: 4;
}
#calendar .panel-body {
  background: #fafafa;
}
#calendar .panel-body .fc-view {
  -moz-box-shadow: 0 0 10px 1px #ccc;
  -webkit-box-shadow: 0 0 10px 1px #ccc;
  box-shadow: 0 0 10px 1px #ccc;
  background: #ffffff;
}
#calendar .panel-body td.week-days,
#calendar .panel-body th.week-days {
  -moz-box-shadow: 0 1px 2px 0.5px #888;
  -webkit-box-shadow: 0 1px 2px 0.5px #888;
  box-shadow: 0 1px 2px 0.5px #888;
  background: #9bacc4;
  border: 1px solid #777;
  color: #eee;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.fc-view, .fc-view > table {
  z-index: 0;
}

.fc-past {
  background: url("/static/orders_manager/img/bg-light-past.png");
}

.fc-state-active {
  border-color: #999 !important;
}

#today {
  -moz-box-shadow: 1px 1px 3px 0.8px #ddd;
  -webkit-box-shadow: 1px 1px 3px 0.8px #ddd;
  box-shadow: 1px 1px 3px 0.8px #ddd;
  background: #f9e7ae;
  padding: 4px;
}

.fc-event {
  -moz-box-shadow: 1px 1px 2px 0.4px #bbb;
  -webkit-box-shadow: 1px 1px 2px 0.4px #bbb;
  box-shadow: 1px 1px 2px 0.4px #bbb;
  background: #817299;
  border: 1px solid #77688f;
  border-radius: 2px;
  cursor: hand !important;
  cursor: pointer !important;
  font-size: 8pt;
  margin: 1px 6px;
  padding: 0 2px;
}
.fc-event .fc-time {
  font-weight: normal;
  margin-right: 2px;
  text-decoration: underline;
}

.event-in-past {
  -moz-box-shadow: inset 0 0 3px 0.3px #aaa;
  -webkit-box-shadow: inset 0 0 3px 0.3px #aaa;
  box-shadow: inset 0 0 3px 0.3px #aaa;
  background: #B1BDC4;
  border: 1px solid #8ea0aa;
}

.event-today {
  -moz-box-shadow: 1px 1px 4px 0.2px #444;
  -webkit-box-shadow: 1px 1px 4px 0.2px #444;
  box-shadow: 1px 1px 4px 0.2px #444;
  background: #6d5f83;
  border: 1px solid #635677;
}

.day-off {
  background: #ed715e;
  border: 1px solid #e74027;
}

.day-off.event-in-past {
  background: #d8a6a6;
  border: 1px solid #c57b7b;
}

.day-off.event-today {
  background: #e55242;
  border: 1px solid #ce2e1c;
}

.only-service-executor {
  background: #6cb168;
  border: 1px solid #59a555;
}

.event-window-background {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: "Lora", serif;
}
.event-window-background .loading-msg {
  -webkit-align-self: center;
  align-self: center;
}
.event-window-background .order-form {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}
.event-window-background .panel.event-window {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 1px 1px 12px 0.2px #444;
  -webkit-box-shadow: 1px 1px 12px 0.2px #444;
  box-shadow: 1px 1px 12px 0.2px #444;
  border: 1px solid #666;
  border-radius: 1px;
  margin: auto;
  max-height: 700px;
  min-height: 600px;
  width: 600px;
}
.event-window-background .order-form.readonly .event-window {
  height: 600px;
}
.event-window-background .event-window__header {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -moz-box-shadow: 0 0.5px 10px 0.05px #222;
  -webkit-box-shadow: 0 0.5px 10px 0.05px #222;
  box-shadow: 0 0.5px 10px 0.05px #222;
  border-bottom: 1px solid #aaa;
  z-index: 20;
}
.event-window-background .event-window__header.panel-heading {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}
.event-window-background .event-window__header .header__title {
  text-shadow: 0.8px 0.8px 2px #aaa;
  text-shadow: 0.8px 0.8px 2px 0.1px #aaa;
  -webkit-flex: 1 1;
  flex: 1 1;
  color: #888;
  font-size: 14pt;
  font-weight: 600;
  text-align: start;
  text-decoration: underline;
}
.event-window-background .header__close-btn,
.event-window-background .header__paid-order-btn {
  -moz-box-shadow: 0.8px 0.8px 5px 0.2px #ccc;
  -webkit-box-shadow: 0.8px 0.8px 5px 0.2px #ccc;
  box-shadow: 0.8px 0.8px 5px 0.2px #ccc;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: hand;
  cursor: pointer;
  display: block;
  line-height: 0;
  padding: 4px;
}
.event-window-background .header__close-btn img,
.event-window-background .header__paid-order-btn img {
  height: 1.2em;
  width: auto;
}
.event-window-background .header__paid-order-btn {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #3c763d;
  font-size: 14pt;
  height: 29px;
  margin-right: 4px;
  text-decoration: none;
  width: 29px;
}
.event-window-background .header__paid-order-btn.pressed {
  -moz-box-shadow: 0 0 0 0 #333333;
  -webkit-box-shadow: 0 0 0 0 #333333;
  box-shadow: 0 0 0 0 #333333;
  background: #ddd;
  border: 1px solid #bbb;
  color: #aaa;
}
.event-window-background .event-window__body {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1 1;
  flex: 1 1;
  padding: 0;
  position: relative;
}
.event-window-background .event-window__body hr {
  color: #888;
  margin: 16px 0 4px;
  padding: 0;
}
.event-window-background .order-form.readonly .event-window__body {
  overflow-x: hidden;
  overflow-y: auto;
}
.event-window-background .consents-panel {
  background: #8AAD89;
  border-right: 2px solid #666;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 30%;
  z-index: 99999;
}
.event-window-background .create-client-wrapper {
  margin-bottom: 12px;
  padding: 0 16px;
}
.event-window-background .create-client {
  -moz-box-shadow: 1px 1px 6px 0.4px #aaa;
  -webkit-box-shadow: 1px 1px 6px 0.4px #aaa;
  box-shadow: 1px 1px 6px 0.4px #aaa;
  background: #f8f8f8;
  border: 1px solid #888;
  border-bottom: 3px solid #7B96B5;
  border-top: 0;
  left: 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.event-window-background span.field-select-data-wrapper {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-right: 2px;
  width: 260px;
}
.event-window-background .pull-left .field-select-data-wrapper {
  width: 220px;
}
.event-window-background #client-children .pull-left {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
.event-window-background .create-client-form__body {
  background: transparent;
  height: 260px;
  padding: 0 12px;
  position: relative;
}
.event-window-background .create-client-form__body .formly-field:first-child {
  margin-top: 25px;
}
.event-window-background .create-client-form__body .form-group > div {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  margin: 0 30px 15px;
}
.event-window-background .create-client-form__body label {
  width: 160px;
}
.event-window-background .create-client-form__footer {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 20px;
}
.event-window-background .create-client-form__footer .btn {
  margin: 0 4px;
  width: 100px;
}
.event-window-background .order-formly-form {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.event-window-background .order-formly-form .formly-field {
  margin: 2px;
}
.event-window-background .order-formly-form .control-label {
  font-size: 9pt;
  margin: 0;
}
.event-window-background .order-formly-form input, .event-window-background .order-formly-form button, .event-window-background .order-formly-form textarea {
  font-size: 10.5pt;
  padding-bottom: 1px;
  padding-top: 1px;
}
.event-window-background .order-formly-form input {
  height: 32px;
}
.event-window-background .order-formly-form .nya-bs-select {
  height: 32px;
}
.event-window-background .order-formly-form .nya-bs-select > button {
  height: 32px;
}
.event-window-background .order-formly-form .field-container {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  height: 32px;
}
.event-window-background .order-form.readonly .order-formly-form {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.event-window-background .order-client-select {
  width: 350px;
  margin-top: 4px;
}
.event-window-background .order-client-select .btn-custom {
  margin-left: 4px;
}
.event-window-background .order-client-children-select {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-top: 4px;
  max-width: 180px;
  min-width: 160px;
}
.event-window-background .children-num-input {
  width: 196px;
}
.event-window-background .celebrate-datetime-select {
  width: 142px;
}
.event-window-background .celebrate-place-select {
  -webkit-flex: 1 1;
  flex: 1 1;
}
.event-window-background .client-option {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.event-window-background .client-option .phone {
  margin-right: 10px;
  text-decoration: underline;
}
.event-window-background .readonly-field {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.event-window-background .readonly-field span {
  display: block;
}
.event-window-background .formly-field-address > div > div {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: 4px;
  padding: 8px;
}
.event-window-background .formly-field-address > div > div > label {
  border-right: 2px solid #ddd;
  margin-right: 4px;
  padding-right: 4px;
}
.event-window-background .address-block {
  -webkit-flex: 1 1;
  flex: 1 1;
}
.event-window-background .address-block #address {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.event-window-background .address-block .address-field {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-left: 8px;
}
.event-window-background .address-block .address-field label {
  margin-right: 2px;
}
.event-window-background .address-block .address-city {
  width: 156px;
}
.event-window-background .address-block .address-street {
  -webkit-flex: 1 1;
  flex: 1 1;
  width: 180px;
}
.event-window-background .address-block .address-house {
  width: 60px;
}
.event-window-background .address-block .address-apartment {
  width: 60px;
}
.event-window-background .address-block .address-additional-info {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-top: 4px;
  min-width: 300px;
}
.event-window-background .address-block .address-additional-info > textarea {
  height: 24px;
}
.event-window-background .order-form.readonly .address-block #addressId {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}
.event-window-background .order-form.readonly .address-block label {
  margin-left: 4px;
  width: 60px;
}
.event-window-background .order-form.readonly .address-block .address-city,
.event-window-background .order-form.readonly .address-block .address-street,
.event-window-background .order-form.readonly .address-block .address-house,
.event-window-background .order-form.readonly .address-block .address-apartment,
.event-window-background .order-form.readonly .address-block .address-additional-info {
  margin: 2px;
  width: auto;
}
.event-window-background .address-house input {
  padding: 1px 6px !important;
  text-align: center;
}
.event-window-background .address-apartment input.apartment-field {
  padding: 1px 6px !important;
  text-align: center;
}
.event-window-background .order-program-select {
  width: 150px;
}
.event-window-background .order-program-select .dropdown-menu.open {
  width: 280px;
}
.event-window-background .order-program-duration-input {
  width: 96px;
}
.event-window-background .order-program-duration-input .dropdown-menu.open {
  width: 120px;
}
.event-window-background .order-program-price-input {
  width: 96px;
}
.event-window-background .order-program-executors-select {
  max-width: 184px;
  min-width: 160px;
}
.event-window-background .order-program-executors-select .dropdown-menu.open {
  width: 280px;
}
.event-window-background .order-additional-services-select {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  min-width: 400px;
}
.event-window-background .order-additional-services-select > div > div {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
.event-window-background .order-additional-services-select label {
  -webkit-align-self: center;
  align-self: center;
  line-height: 1;
  margin-right: 16px;
  width: 160px;
}
.event-window-background .order-additional-services-select ol {
  width: 320px;
}
.event-window-background .order-additional-services-executors-select {
  -webkit-flex: 1 1;
  flex: 1 1;
  min-width: 400px;
}
.event-window-background .order-additional-services-executors-select > div {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.event-window-background .order-additional-services-executors-select > div > label {
  line-height: 1;
}
.event-window-background .services-executors-block {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 4px;
}
.event-window-background .services-executors-block .service-executor {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 0 2px;
  width: 172px;
}
.event-window-background .services-executors-block .dropdown-menu.open {
  width: 260px;
}
.event-window-background .services-executors-block label {
  font-size: 11pt;
  font-weight: normal;
  margin-bottom: 2px;
  text-decoration: underline;
}
.event-window-background .order-details-textarea {
  -webkit-flex: 1 1;
  flex: 1 1;
  min-width: 260px;
}
.event-window-background .order-details-textarea textarea {
  height: 44px;
}
.event-window-background .order-executor-comment-textarea {
  -webkit-flex: 1 1;
  flex: 1 1;
  min-width: 260px;
}
.event-window-background .order-executor-comment-textarea textarea {
  height: 44px;
}
.event-window-background .order-how-did-you-know-select {
  margin: 0 2px !important;
  width: 190px;
}
.event-window-background .order-how-did-you-know-select .dropdown-menu.open {
  bottom: 100% !important;
  top: auto !important;
}
.event-window-background .order-discount-select {
  margin: 0 2px !important;
  width: 190px;
}
.event-window-background .order-discount-select .dropdown-menu.open {
  bottom: 100% !important;
  top: auto !important;
}
.event-window-background .order-cost-of-the-way-input {
  margin: 0 2px !important;
  width: 120px;
}
.event-window-background .order-total-price-input,
.event-window-background .order-total-price-input-with-discount {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 0 2px !important;
  min-width: 240px;
}
.event-window-background .form-group {
  margin: 0;
}
.event-window-background .form-group > div {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}
.event-window-background .form-group > div .form-control {
  -webkit-flex: 1 1;
  flex: 1 1;
}
.event-window-background .datetime-container {
  position: relative;
}
.event-window-background .datetime-picker-dropdown .btn-group.pull-left {
  display: none;
}
.event-window-background .field-column-container {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}
.event-window-background .field-column-container > button {
  -moz-box-shadow: 1px 1px 4px 0.3px #ddd;
  -webkit-box-shadow: 1px 1px 4px 0.3px #ddd;
  box-shadow: 1px 1px 4px 0.3px #ddd;
  background: #8AAD89;
  border: 1px solid #888;
  color: #fff;
  margin-top: 4px;
  width: 120px;
}
.event-window-background .executor-comment textarea {
  border: 2px solid #8AAD89;
}
.event-window-background .many-to-many-container {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.event-window-background .many-to-many-container .item-value {
  -moz-box-shadow: 1px 1px 3px 0.2px #eee;
  -webkit-box-shadow: 1px 1px 3px 0.2px #eee;
  box-shadow: 1px 1px 3px 0.2px #eee;
  background: #E4F1F5;
  border: 1px solid #888;
  border-radius: 2px;
  margin: 2px;
  padding: 2px 4px;
}
.event-window-background .form-control[disabled],
.event-window-background .many-to-many-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.event-window-background .form-control[disabled] {
  background: #fcfcfc;
}
.event-window-background .field-container > button {
  margin-left: 12px;
}
.event-window-background .btn-custom {
  -moz-box-shadow: 1px 1px 3px 0.2px #eee;
  -webkit-box-shadow: 1px 1px 3px 0.2px #eee;
  box-shadow: 1px 1px 3px 0.2px #eee;
  background: #fafafa;
  margin-left: 4px;
}
.event-window-background textarea {
  height: 64px;
  resize: none;
}
.event-window-background .btn.dropdown-toggle:hover,
.event-window-background .btn.dropdown-toggle:active,
.event-window-background .btn.dropdown-toggle:focus,
.event-window-background .btn-default:active {
  background: #fafafa;
}
.event-window-background .dropdown-menu {
  z-index: 99999999999;
}
.event-window-background .event-window__footer {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -moz-box-shadow: 0 0 10px 0.05px #444;
  -webkit-box-shadow: 0 0 10px 0.05px #444;
  box-shadow: 0 0 10px 0.05px #444;
  border-top: 1px solid #888;
  height: 48px;
  z-index: 20;
}
.event-window-background .event-window__footer.panel-footer {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}
.event-window-background .event-window__footer .btn {
  -moz-box-shadow: 1px 1px 3px 0.2px #bbb;
  -webkit-box-shadow: 1px 1px 3px 0.2px #bbb;
  box-shadow: 1px 1px 3px 0.2px #bbb;
}
.event-window-background .event-window__footer .spacer {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex: 1 1;
  flex: 1 1;
  color: #888;
  font-size: 10pt;
  padding: 4px 0;
}
.event-window-background .event-window__footer .order-info__line__val {
  color: #444;
  font-size: 10.5pt;
  margin-left: 4px;
  text-decoration: underline;
}

.multiple-mode, .single-item-mode {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding-bottom: 4px;
}
.multiple-mode hr, .single-item-mode hr {
  margin: 4px 4px 2px 4px;
  padding: 0;
}
.multiple-mode li, .single-item-mode li {
  background: #fff;
  outline: none;
}
.multiple-mode li:first-child, .single-item-mode li:first-child {
  margin-top: 8px;
}
.multiple-mode a,
.multiple-mode a:hover,
.multiple-mode a:focus,
.multiple-mode a:active,
.multiple-mode li > a,
.multiple-mode li > a:hover,
.multiple-mode li > a:focus,
.multiple-mode li > a:active,
.multiple-mode li.active a,
.multiple-mode li.active a:hover,
.multiple-mode li.active a:focus,
.multiple-mode li.active a:active,
.multiple-mode .selected a,
.multiple-mode .selected a:hover,
.multiple-mode .selected a:focus,
.multiple-mode .selected a:active, .single-item-mode a,
.single-item-mode a:hover,
.single-item-mode a:focus,
.single-item-mode a:active,
.single-item-mode li > a,
.single-item-mode li > a:hover,
.single-item-mode li > a:focus,
.single-item-mode li > a:active,
.single-item-mode li.active a,
.single-item-mode li.active a:hover,
.single-item-mode li.active a:focus,
.single-item-mode li.active a:active,
.single-item-mode .selected a,
.single-item-mode .selected a:hover,
.single-item-mode .selected a:focus,
.single-item-mode .selected a:active {
  background: #fff;
  color: #262626;
  outline: none;
}
.multiple-mode li > a:hover,
.multiple-mode li.active > a:hover, .single-item-mode li > a:hover,
.single-item-mode li.active > a:hover {
  background: #f2f2f2;
}
.multiple-mode li.selected > a,
.multiple-mode li.selected > a:focus,
.multiple-mode li.selected > a:active,
.multiple-mode li.active.selected > a,
.multiple-mode li.active.selected > a:focus,
.multiple-mode li.active.selected > a:active, .single-item-mode li.selected > a,
.single-item-mode li.selected > a:focus,
.single-item-mode li.selected > a:active,
.single-item-mode li.active.selected > a,
.single-item-mode li.active.selected > a:focus,
.single-item-mode li.active.selected > a:active {
  background: #CFE2E8;
}
.multiple-mode li.selected > a:hover,
.multiple-mode li.active.selected > a:hover, .single-item-mode li.selected > a:hover,
.single-item-mode li.active.selected > a:hover {
  background: #bad6de;
}
