.pop-message {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.2);
  font-size: 11pt;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.pop-message .msg-window {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-shadow: 4px 4px 6px 1px #999;
  -webkit-box-shadow: 4px 4px 6px 1px #999;
  box-shadow: 4px 4px 6px 1px #999;
  background: #eaeaea;
  border: 2px solid #72899C;
  border-radius: 2px;
  height: 8em;
  margin-bottom: 12em;
  text-align: center;
  width: 26em;
}
.pop-message .msg-window__btns {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 1em;
}
.pop-message .msg-window__notice {
  color: #444;
  padding: 2em .4em;
}
.pop-message a {
  -moz-box-shadow: 0.6px 0.6px 2px 0.6px #ccc;
  -webkit-box-shadow: 0.6px 0.6px 2px 0.6px #ccc;
  box-shadow: 0.6px 0.6px 2px 0.6px #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid #72899C;
  border-radius: 2px;
  color: #6C7F94;
  cursor: pointer;
  cursor: hand;
  margin: 0 .2em;
  padding: .2em;
  text-decoration: none;
  width: 4em;
}
.pop-message .cancel-btn {
  background: #a2b1be;
  color: #f2f2f2;
}
.pop-message .accept-btn {
  background: #f7f7f7;
  color: #788ea0;
}

.hidden {
  display: none;
}
