.dialog-wrapper {
  margin: 0;
}

.change-pwd-panel-body {
  width: 400px;
}

.user-profile-panel-body {
  padding: 30px 60px;
  width: 740px;
}

.user-profile-form hr {
  margin: 8px 0;
  padding: 0;
}

.userprofile-readonly-field {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
.userprofile-readonly-field .form-group {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 0;
}
.userprofile-readonly-field .form-group > div {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex: 1 1;
  flex: 1 1;
}
.userprofile-readonly-field .control-label {
  width: 250px;
}
.userprofile-readonly-field .form-control {
  -webkit-flex: 1 1;
  flex: 1 1;
  background: #fcfcfc;
  cursor: default;
}
.userprofile-readonly-field .formly-field:first-child {
  margin-top: 15px;
}
.userprofile-readonly-field .formly-field:last-child {
  margin-bottom: 15px;
}
.userprofile-readonly-field .address-block {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 0 8px;
}
.userprofile-readonly-field #address {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1;
  flex: 1 1;
}
.userprofile-readonly-field #address .address-field {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1 1 120px;
  flex: 1 1 120px;
  margin: 3px 8px;
}
.userprofile-readonly-field #address .address-field:last-child {
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  width: auto;
}
.userprofile-readonly-field #address .control-label {
  font-weight: normal;
  width: auto;
}
.userprofile-readonly-field #address .form-control {
  -webkit-flex: 1 1;
  flex: 1 1;
  width: auto;
}
.userprofile-readonly-field #address .address-field:first-child {
  margin-top: 4px;
}
.userprofile-readonly-field #address .address-field:last-child {
  margin-bottom: 2px;
}
.userprofile-readonly-field #address textarea {
  resize: none;
}
