@import 'settings';

.additional-services-content {
  @include init-flex-position(column);
  width: 1000px;

  .additional-services-panel-body {
    @include init-flex-position(row);
    @include flex(1 1);
    height: 500px;
    padding: 0;
  }

  .grid-wrapper {
    @include init-flex-position(column);
    border-right: 1px solid #ccc;
    width: 580px;

    .grid-control-panel {
      @include init-flex-position(row);
      @include justify-content(flex-start);
      background: #fafafa;
      padding: 2px;
    }

    .grid-control-panel .btn-add {
      margin-right: 4px;
      width: 41px;
    }

    .grid-control-panel .search-field {
      width: 432px;
    }

    .grid {
      @include flex(1 1);
      background: #fdfdfd;
      border-right-width: 0;
      //height: 360px;
    }

    .ui-grid-cell {
      cursor: hand;
      cursor: pointer;
    }

    .ui-grid-row-selected .ui-grid-cell {
      border-color: #aaa;
    }

    .pagination-container {
      margin: 8px auto;
      //height: 30px;
    }

    .ctrl-btns-wrapper {
      @include init-flex-position(row);
      @include justify-content(flex-start);
    }

    .ctrl-btn {
      @include init-flex-position(column);
      @include justify-content(center);
      margin: 1px;
      padding: 2px;
      width: 27px;
    }

    .ctrl-btn:first-child {
      margin-left: 3px;
    }

    .ctrl-btn:last-child {
      margin-left: 8px;
    }
  }

  .details-wrapper {
    @include init-flex-position(column);
    @include flex(1 1);
    margin: 4px;
  }

  .additional-service-form {
    @include init-flex-position(column);
    @include flex(1 1);
  }

  .additional-service-form .details-body {
    @include init-flex-position(column);
    //@include justify-content(space-between);
    @include justify-content(center);
    @include flex(1 1);
    background: #fafafa;
    border: 1px solid #ccc;

    .formly {
      @include flex(1 1);
      margin: 18px 14px;
    }

    .form-btns-container {
      @include init-flex-position(row);
      @include align-items(center);
      @include justify-content(flex-end);
      border-top: 1px solid #ccc;
      height: 46px;
      padding-right: 6px;
    }

    .form-btns-container .btn-save {
      margin-right: 4px;
    }
  }

  .additional-service-form .form-group {
    margin: 0 0 12px;
  }

  .additional-service-form .form-group > div {
    @include init-flex-position(column);
    //@include align-items(center);
    margin-bottom: 4px;

    .control-label {
      font-size: 10pt;
      font-weight: normal;
      line-height: 1;
    }

    .form-control {
      height: 34px;
    }

    .many-to-many-group {
      background: #fff;
      border: 1px solid #eee;
      border-radius: 2px;
      max-height: 206px;
      overflow-y: auto;
      padding: 4px;
    }

    .many-to-many-container {
      @include init-flex-position(row);
      @include flex-wrap(wrap);
      background: #fff;
    }

    .many-to-many-container .item-value {
      @include single-box-shadow(1px, 1px, 3px, .2px, #eee);
      background: #E4F1F5;
      border: 1px solid #888;
      border-radius: 2px;
      font-size: 11pt;
      line-height: 1;
      margin: 2px;
      padding: 2px 4px;
    }

    .error-messages {
      display: none;
    }
  }
}
