@import 'settings';
@import '../../../../static/vendors/fonts/arnamuserif/arnamuserif.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include legacy-pie-clearfix();
  @include init-flex-position(column);
  @include align-items(center);
  //background-image: url('../img/fon_px.gif');
  background: #fff;
  color: #666;
  font-family: 'Lora', serif !important;
  font-size: 11pt;
}

::selection {
  background: #90C3D4; /* Safari */
}

::-moz-selection {
  background: #90C3D4; /* Firefox */
}

.page-container {
  @include init-flex-position(column);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.content-wrapper {
  @include init-flex-position(column);
  @include justify-content(space-between);
  @include flex(1 1);
}

.page-content {
  @include init-flex-position(column);
  @include flex(1 1);
  height: auto;
}

#calendar {
  @include init-flex-position(column);
  @include flex(1 1);

  div:nth-child(2) {
    @include init-flex-position(column);
    @include flex(1 1);
  }
}

.calendar-navbar {
  @include init-flex-position(row);
  @include justify-content(space-between);
  height: 8em;
  margin-top: 2em;

  .nav-left,
  .nav-right {
    @include init-flex-position(column);
    @include align-items(center);
    @include justify-content(center);
    @include flex(1 1);
    margin: 0;
    padding: 0;
    max-width: 14.5em;
    min-width: 14.5em;

    .btn {
      @include init-flex-position(column);
      @include align-items(center);
      @include justify-content(center);
      color: #888;
      font-size: 42pt;
      //height: 8em;
      width: 4em;
    }
  }

  .nav-left .btn {
    @include align-self(flex-start);
  }

  .nav-right .btn {
    @include align-self(flex-end);
  }

  .calendar-header {
    @include init-flex-position(row);
    @include align-items(center);
    @include justify-content(center);
    font-size: 36pt;
    //width: 70%;
  }
}

.monthview-datetable {
  margin: 3em 0 0;

  thead {
    tr {
      background: #fafafa;
      font-size: 36pt;
      height: 1.6em;
    }
  }

  tbody {
    tr {
      font-size: 38pt;
      height: 2em;
    }

    tr > td {
      padding: 0;
    }

    tr > td > div {
      @include init-flex-position(row);
      @include align-items(center);
      @include justify-content(center);
      height: 2.8em;
    }

    tr > td > div.text-muted {
      color: #ccc;
    }

    .monthview-selected {
      background: #66afe9;
    }
  }

  tbody:before {
    content: "-";
    display: block;
    line-height: 2em;
    color: transparent;
  }
}

.dayview-allday-table {
  display: none;
}

.scrollable {
  margin: 1em 0;
  border: 1px solid #666;

  table {
    tr {
      height: 8em;
    }

    tr:nth-child(1),
    tr:nth-child(2),
    tr:nth-child(3),
    tr:nth-child(4),
    tr:nth-child(5),
    tr:nth-child(6),
    tr:nth-last-child(1),
    tr:nth-last-child(2),
    tr:nth-last-child(3) {
      display: none;
    }

    .calendar-hour-column {
      font-size: 32pt;
      padding-top: .7em;
      width: 3em;
    }
  }

  .calendar-event-wrap {
    @include init-flex-position(row);
  }

  .calendar-event {
    min-height: 100%;
  }

  .calendar-event-inner {
    @include init-flex-position(row);
    @include align-items(center);
    font-size: 22pt;
    line-height: 1.2;
    padding: .1em .6em;
  }
}

.page-footer {
  @include init-flex-position(row);
  height: 12em;

  .ctrl-btn {
    @include init-flex-position(row);
    @include flex(1 1);
    @include align-items(center);
    @include justify-content(center);
    border: 1px solid #000;
    border-radius: .2em;
    font-size: 42pt;
    margin: .2em .1em;
  }
}

