@import 'settings';

.page-content {
  margin: 1em 2em;
  padding: 1em;
}

// Calendar styles
//-------------------------------------------------------------

#calendar {
  @include single-box-shadow(1px, 1px, 10px, 1px, darken(#eeeeee, 43%));
  border: 1px solid darken(#eeeeee, 43%);

  .panel-heading {
    @include init-flex-position(row);
    @include justify-content(space-between);
    @include align-items(center);
    @include single-box-shadow(1px, 1px, 8px, .05px, #333);
    background: #e05b49;
    border-bottom: 1px solid darken(#e05b49, 8%);
    color: #ddd;
    margin: 0;
    padding: 8px;
    position: relative;

    .fc-left {
      @include order(1);
    }

    .calendar-view-btn {
      border: 1px solid #777;
      border-radius: 0;
      height: 40px;
      margin: 0;
      width: 100px;
      position: relative;
      z-index: 0;
    }

    .fc-state-active .calendar-view-btn {
      border: 1px solid #333;
      position: relative;
    }

    .calendar-view-btn:first-child {
      border-radius: 4px 0 0 4px;
      border-right-width: 0;
    }

    .calendar-view-btn:last-child {
      border-left-width: 0;
      border-radius: 0 4px 4px 0;
    }

    .fc-center {
      @include init-flex-position(row);
      @include justify-content(center);
      @include flex(1 1);
      @include order(2);
    }

    .fc-right {
      @include order(3);
    }

    .fc-clear {
      @include order(4);
    }
  }

  .panel-body {
    background: #fafafa;

    .fc-view {
      @include single-box-shadow(0, 0, 10px, 1px, #ccc);
      background: #ffffff;
    }

    td.week-days,
    th.week-days {
      @include single-box-shadow(0, 1px, 2px, .5px, #888);
      background: #9bacc4;
      border: 1px solid #777;
      color: #eee;
      font-weight: normal;
      position: relative;
      z-index: 2;
    }
  }
}

.fc-view, .fc-view > table {
  z-index: 0;
}

.fc-past {
  background: url('/static/orders_manager/img/bg-light-past.png');
  //background: #f8f8f8;
}

.fc-state-active {
  border-color: #999 !important;
}

#today {
  @include single-box-shadow(1px, 1px, 3px, .8px, #ddd);
  background: #f9e7ae;
  padding: 4px;
}

.fc-event {
  @include single-box-shadow(1px, 1px, 2px, .4px, #bbb);
  background: #817299;
  border: 1px solid darken(#817299, 4%);
  border-radius: 2px;
  cursor: hand !important;
  cursor: pointer !important;
  font-size: 8pt;
  margin: 1px 6px;
  padding: 0 2px;

  .fc-time {
    font-weight: normal;
    margin-right: 2px;
    text-decoration: underline;
  }
}

//------------------------------------------------------------

.event-in-past {
  @include single-box-shadow(0, 0, 3px, .3px, #aaa, inset);
  background: #B1BDC4;
  border: 1px solid darken(#B1BDC4, 12%);
}

.event-today {
  @include single-box-shadow(1px, 1px, 4px, .2px, #444);
  background: darken(#817299, 8%);
  border: 1px solid darken(#817299, 12%);
}

.day-off {
  background: #ed715e;
  border: 1px solid darken(#ed715e, 12%);
}

.day-off.event-in-past {
  background: #d8a6a6;
  border: 1px solid darken(#d8a6a6, 12%);
}

.day-off.event-today {
  background: #e55242;
  border: 1px solid darken(#e55242, 12%);
}

.only-service-executor {
  background: darken(#86bf83, 8%);
  border: 1px solid darken(#86bf83, 14%);
}

.event-window-background {
  @include init-flex-position(column);
  @include justify-content(center);
  font-family: "Lora", serif;
  //background: rgba(96, 96, 96, .3);
  //height: 100%;
  //left: 0;
  //margin: 0;
  //padding: 0;
  //position: absolute;
  //top: 0;
  //width: 100%;
  //z-index: 10;

  .loading-msg {
    @include align-self(center);
  }

  .order-form {
    @include init-flex-position(column);
  }

  .panel.event-window {
    @include init-flex-position(column);
    @include single-box-shadow(2px, 2px, 8px, .6px, #555);
    border: 1px solid #666;
    border-radius: 1px;
    height: 600px;
    margin: auto;
    width: 600px;
  }

  .event-window__header {
    @include init-flex-position(row);
    @include justify-content(flex-end);
    @include single-box-shadow(0, .5px, 6px, .05px, #aaa);
    border-bottom: 1px solid #aaa;
    z-index: 20;

    .header__title {
      @include single-text-shadow(.8px, .8px, 2px, .1px, #aaa);
      @include flex(1 1);
      color: #888;
      font-size: 14pt;
      font-weight: 600;
      text-align: start;
      text-decoration: underline;
    }
  }

  .header__close-btn {
    @include single-box-shadow(.8px, .8px, 5px, .2px, #ccc);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: hand;
    cursor: pointer;
    display: block;
    line-height: 0;
    padding: 4px;

    img {
      height: 1.2em;
      width: auto;
    }
  }

  .event-window__body {
    @include init-flex-position(column);
    @include flex(1 1);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    //position: relative;

    hr {
      color: #888;
      margin: 16px 0 4px;
      padding: 0;
    }
  }

  .consents-panel {
    background: #8AAD89;
    //border-bottom: 1px solid #666;
    border-right: 2px solid #666;
    //border-top: 1px solid #666;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 30%;
    z-index: 99999;
  }

  .create-client-wrapper {
    margin-bottom: 24px;
    padding: 0 24px;
  }

  .create-client {
    @include single-box-shadow(1px, 1px, 6px, .4px, #aaa);
    background: #f8f8f8;
    border: 1px solid #888;
    border-bottom: 3px solid #7B96B5;
    border-top: 0;
    left: 8px;
    position: absolute;
    top: 0;
    width: 560px;
    z-index: 5;
  }

  .create-client-form__body {
    background: transparent;
    height: 220px;
    padding: 0 12px;
    position: relative;

    .formly-field:first-child {
      margin-top: 25px;
    }

    .form-group > div {
      @include init-flex-position(row);
      margin: 0 30px 15px;
    }

    label {
      width: 160px;
    }
  }

  .create-client-form__footer {
    @include init-flex-position(row);
    @include justify-content(center);
    padding-bottom: 20px;

    .btn {
      margin: 0 4px;
      width: 100px;
    }
  }

  .client-option {
    @include init-flex-position(row);
    @include justify-content(space-between);

    .phone {
      margin-right: 8px;
      text-decoration: underline;
      width: 110px;
    }
  }

  .readonly-field {
    @include flex(1 1);
    @include init-flex-position(row);
    @include justify-content(space-between);

    span {
      display: block;
    }
  }

  .formly-field:first-child {
    margin-top: 15px;
  }

  //.time-picker {
  //  td {
  //    height: 10px;
  //    line-height: 0;
  //
  //    a {
  //      line-height: 0;
  //      margin: 0;
  //      padding: 0;
  //    }
  //  }
  //}

  .address-block {
    margin: 0 24px;

    .address-field {
      @include init-flex-position(row);
      margin-bottom: 3px;
    }

    .address-field:first-child {
      margin-top: 4px;
    }

    .address-field:last-child {
      margin-bottom: 2px;
    }

    label {
      width: 150px;
    }
  }

  .form-group {
    margin: 0;
  }

  .form-group > div {
    @include init-flex-position(column);

    .form-control {
      @include flex(1 1);
      //width: 550px;
    }
  }

  .field-container {
    @include init-flex-position(row);
  }

  .datetime-container {
    position: relative;
  }

  .datetime-picker-dropdown .btn-group.pull-left {
    display: none;
  }

  .field-column-container {
    @include init-flex-position(column);
  }

  .field-column-container > button {
    @include single-box-shadow(1px, 1px, 4px, .3px, #ddd);
    background: #8AAD89;
    border: 1px solid #888;
    color: #fff;
    margin-top: 4px;
    width: 120px;
  }

  .executor-comment textarea {
    border: 2px solid #8AAD89;
  }

  .many-to-many-container {
    @include init-flex-position(row);
    @include flex-wrap(wrap);

    .item-value {
      @include single-box-shadow(1px, 1px, 3px, .2px, #eee);
      background: #E4F1F5;
      border: 1px solid #888;
      border-radius: 2px;
      margin: 2px;
      padding: 2px 4px;
    }
  }

  .btn-custom {
    @include single-box-shadow(1px, 1px, 3px, .2px, #eee);
    background: #fafafa;
  }

  .form-control[disabled],
  .many-to-many-container {
    @include noselect();
    cursor: default;
  }

  .form-control[disabled] {
    background: #fcfcfc;
  }

  //[disabled=true] {
  //  background: #fafafa;
  //}

  .field-container > button {
    margin-left: 12px;
  }

  textarea {
    height: 64px;
    resize: none;
  }

  .btn.dropdown-toggle:hover,
  .btn.dropdown-toggle:active,
  .btn.dropdown-toggle:focus,
  .btn-default:active {
    background: #fafafa;
  }

  .dropdown-menu {
    z-index: 99999999999;
  }

  .event-window__footer {
    @include init-flex-position(row);
    @include justify-content(flex-end);
    @include single-box-shadow(0, -.5px, 6px, .05px, #aaa);
    border-top: 1px solid #bbb;
    height: 60px;
    z-index: 20;

    .btn {
      @include single-box-shadow(1px, 1px, 3px, .2px, #bbb);
    }

    .spacer {
      @include flex(1 1);
    }
  }
}

// Styles for multiple select template
.multiple-mode, .single-item-mode {
  @include noselect();

  padding-bottom: 4px;

  hr {
    margin: 4px 4px 2px 4px;
    padding: 0;
  }

  li {
    background: #fff;
    outline: none;
  }

  li:first-child {
    margin-top: 8px;
  }

  a,
  a:hover,
  a:focus,
  a:active,
  li > a,
  li > a:hover,
  li > a:focus,
  li > a:active,
  li.active a,
  li.active a:hover,
  li.active a:focus,
  li.active a:active,
  .selected a,
  .selected a:hover,
  .selected a:focus,
  .selected a:active {
    background: #fff;
    color: #262626;
    outline: none;
  }

  li > a:hover,
  li.active > a:hover {
    background: #f2f2f2;
  }

  li.selected > a,
  li.selected > a:focus,
  li.selected > a:active,
  li.active.selected > a,
  li.active.selected > a:focus,
  li.active.selected > a:active {
    background: #CFE2E8;
  }

  li.selected > a:hover,
  li.active.selected > a:hover {
    background: darken(#CFE2E8, 6%);
  }
}

.services-executors-block {
  padding-left: 12px;

  .repeatsection {
    margin-bottom: 4px;
  }

  .formly-field:first-child {
    margin-top: 0;
  }

  label {
    font-size: 11pt;
    font-weight: normal;
    margin-bottom: 2px;
    text-decoration: underline;
  }
}
