@import 'settings';

.page-content {
  margin: 1em 2em;
  padding: 1em;
}

// Calendar styles
//-------------------------------------------------------------

#calendar {
  @include single-box-shadow(1px, 1px, 10px, 1px, darken(#eeeeee, 43%));
  border: 1px solid darken(#eeeeee, 43%);

  .panel-heading {
    @include init-flex-position(row);
    @include justify-content(space-between);
    @include align-items(center);
    @include single-box-shadow(1px, 1px, 8px, .05px, #333);
    background: #e05b49;
    border-bottom: 1px solid darken(#e05b49, 8%);
    color: #ddd;
    margin: 0;
    padding: 8px;
    position: relative;

    .fc-left {
      @include order(1);
    }

    .calendar-view-btn {
      border: 1px solid #777;
      border-radius: 0;
      height: 40px;
      margin: 0;
      width: 100px;
      position: relative;
      z-index: 0;
    }

    .fc-state-active .calendar-view-btn {
      border: 1px solid #333;
      position: relative;
    }

    .calendar-view-btn:first-child {
      border-radius: 4px 0 0 4px;
      border-right-width: 0;
    }

    .calendar-view-btn:last-child {
      border-left-width: 0;
      border-radius: 0 4px 4px 0;
    }

    .fc-center {
      @include init-flex-position(row);
      @include justify-content(center);
      @include flex(1 1);
      @include order(2);
    }

    .fc-right {
      @include order(3);
    }

    .fc-clear {
      @include order(4);
    }
  }

  .panel-body {
    background: #fafafa;

    .fc-view {
      @include single-box-shadow(0, 0, 10px, 1px, #ccc);
      background: #ffffff;
    }

    td.week-days,
    th.week-days {
      @include single-box-shadow(0, 1px, 2px, .5px, #888);
      background: #9bacc4;
      border: 1px solid #777;
      color: #eee;
      font-weight: normal;
      position: relative;
      z-index: 2;
    }
  }
}

.fc-view, .fc-view > table {
  z-index: 0;
}

.fc-past {
  background: url('/static/orders_manager/img/bg-light-past.png');
  //background: #f8f8f8;
}

.fc-state-active {
  border-color: #999 !important;
}

#today {
  @include single-box-shadow(1px, 1px, 3px, .8px, #ddd);
  background: #f9e7ae;
  padding: 4px;
}

.fc-event {
  @include single-box-shadow(1px, 1px, 2px, .4px, #bbb);
  background: #817299;
  border: 1px solid darken(#817299, 4%);
  border-radius: 2px;
  cursor: hand !important;
  cursor: pointer !important;
  font-size: 8pt;
  margin: 1px 6px;
  padding: 0 2px;

  .fc-time {
    font-weight: normal;
    margin-right: 2px;
    text-decoration: underline;
  }
}

//------------------------------------------------------------

.event-in-past {
  @include single-box-shadow(0, 0, 3px, .3px, #aaa, inset);
  background: #B1BDC4;
  border: 1px solid darken(#B1BDC4, 12%);
}

.event-today {
  @include single-box-shadow(1px, 1px, 4px, .2px, #444);
  background: darken(#817299, 8%);
  border: 1px solid darken(#817299, 12%);
}

.day-off {
  background: #ed715e;
  border: 1px solid darken(#ed715e, 12%);
}

.day-off.event-in-past {
  background: #d8a6a6;
  border: 1px solid darken(#d8a6a6, 12%);
}

.day-off.event-today {
  background: #e55242;
  border: 1px solid darken(#e55242, 12%);
}

.only-service-executor {
  background: darken(#86bf83, 8%);
  border: 1px solid darken(#86bf83, 14%);
}

.event-window-background {
  @include init-flex-position(column);
  @include justify-content(center);
  font-family: "Lora", serif;
  //background: rgba(96, 96, 96, .3);
  //height: 100%;
  //left: 0;
  //margin: 0;
  //padding: 0;
  //position: absolute;
  //top: 0;
  //width: 100%;
  //z-index: 10;

  .loading-msg {
    @include align-self(center);
  }

  .order-form {
    @include init-flex-position(column);
  }

  .panel.event-window {
    @include init-flex-position(column);
    @include single-box-shadow(1px, 1px, 12px, .2px, #444);
    border: 1px solid #666;
    border-radius: 1px;
    margin: auto;
    max-height: 700px;
    min-height: 600px;
    width: 600px;
  }

  .order-form.readonly .event-window {
    height: 600px;
  }

  .event-window__header {
    @include init-flex-position(row);
    @include justify-content(flex-end);
    @include single-box-shadow(0, .5px, 10px, .05px, #222);
    border-bottom: 1px solid #aaa;
    z-index: 20;

    &.panel-heading {
      padding-bottom: 4px !important;
      padding-top: 4px !important;
    }

    .header__title {
      @include single-text-shadow(.8px, .8px, 2px, .1px, #aaa);
      @include flex(1 1);
      color: #888;
      font-size: 14pt;
      font-weight: 600;
      text-align: start;
      text-decoration: underline;
    }
  }

  .header__close-btn,
  .header__paid-order-btn {
    @include single-box-shadow(.8px, .8px, 5px, .2px, #ccc);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: hand;
    cursor: pointer;
    display: block;
    line-height: 0;
    padding: 4px;

    img {
      height: 1.2em;
      width: auto;
    }
  }

  .header__paid-order-btn {
    @include init-flex-position(column);
    @include justify-content(center);
    @include align-items(center);
    color: #3c763d;
    font-size: 14pt;
    height: 29px;
    margin-right: 4px;
    text-decoration: none;
    width: 29px;

    &.pressed {
      @include single-box-shadow(0, 0, 0, 0);
      background: #ddd;
      border: 1px solid #bbb;
      color: #aaa;
    }
  }

  .event-window__body {
    @include init-flex-position(column);
    @include flex(1 1);
    padding: 0;
    position: relative;

    hr {
      color: #888;
      margin: 16px 0 4px;
      padding: 0;
    }
  }

  .order-form.readonly .event-window__body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .consents-panel {
    background: #8AAD89;
    //border-bottom: 1px solid #666;
    border-right: 2px solid #666;
    //border-top: 1px solid #666;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 30%;
    z-index: 99999;
  }

  .create-client-wrapper {
    margin-bottom: 12px;
    padding: 0 16px;
  }

  .create-client {
    @include single-box-shadow(1px, 1px, 6px, .4px, #aaa);
    background: #f8f8f8;
    border: 1px solid #888;
    border-bottom: 3px solid #7B96B5;
    border-top: 0;
    left: 8px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  span.field-select-data-wrapper {
    @include init-flex-position(row);
    @include justify-content(space-between);
    @include align-items(center);
    @include flex(1 1);
    margin-right: 2px;
    width: 260px;
  }

  .pull-left .field-select-data-wrapper {
    width: 220px;
  }

  //span.field-client-phones-wrapper {
  //  @include init-flex-position(column);
  //  font-size: 9pt;
  //  text-decoration: none;
  //}

  #client-children .pull-left {
    @include init-flex-position(row);
  }

  //span.child-to-age-wrapper {
  //  @include init-flex-position(row);
  //  @include justify-content(flex-start);
  //}

  .create-client-form__body {
    background: transparent;
    height: 260px;
    padding: 0 12px;
    position: relative;

    .formly-field:first-child {
      margin-top: 25px;
    }

    .form-group > div {
      @include init-flex-position(row);
      margin: 0 30px 15px;
    }

    label {
      width: 160px;
    }
  }

  .create-client-form__footer {
    @include init-flex-position(row);
    @include justify-content(center);
    padding-bottom: 20px;

    .btn {
      margin: 0 4px;
      width: 100px;
    }
  }

  .order-formly-form {
    @include init-flex-position(row);
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    .formly-field {
      margin: 2px;
    }

    .control-label {
      font-size: 9pt;
      margin: 0;
    }

    input, button, textarea {
      font-size: 10.5pt;
      padding-bottom: 1px;
      padding-top: 1px;
    }

    input {
      height: 32px;
    }

    .nya-bs-select {
      height: 32px;
    }

    .nya-bs-select > button {
      height: 32px;
    }

    .field-container {
      @include init-flex-position(row);
      height: 32px;
    }
  }

  .order-form.readonly .order-formly-form {
    @include init-flex-position(column);
    @include align-items(stretch);
  }

  .order-client-select {
    width: 350px;
    margin-top: 4px;

    .btn-custom {
      margin-left: 4px;
    }
  }

  .order-client-children-select {
    @include flex(1 1);
    margin-top: 4px;
    max-width: 180px;
    min-width: 160px;
  }

  .children-num-input {
    width: 196px;
  }

  .celebrate-datetime-select {
    width: 142px;
  }

  .celebrate-place-select {
    @include flex(1 1);
  }

  .client-option {
    @include init-flex-position(row);
    @include justify-content(space-between);

    .phone {
      margin-right: 10px;
      text-decoration: underline;
    }
  }

  .readonly-field {
    @include flex(1 1);
    @include init-flex-position(row);
    @include justify-content(space-between);

    span {
      display: block;
    }
  }

  .formly-field-address > div > div {
    @include init-flex-position(row);
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 4px;
    padding: 8px;

    & > label {
      border-right: 2px solid #ddd;
      margin-right: 4px;
      padding-right: 4px;
    }
  }

  .address-block {
    @include flex(1 1);

    #address {
      @include init-flex-position(row);
      @include flex-wrap(wrap);
    }

    .address-field {
      @include init-flex-position(row);
      @include align-items(flex-end);
      margin-left: 8px;
    }

    .address-field label {
      margin-right: 2px;
    }

    .address-city {
      width: 156px;
    }

    .address-street {
      @include flex(1 1);
      width: 180px;
    }

    .address-house {
      width: 60px;
    }

    .address-apartment {
      width: 60px;
    }

    .address-additional-info {
      @include align-items(flex-start);
      @include flex(1 1);
      margin-top: 4px;
      min-width: 300px;
    }

    .address-additional-info > textarea {
      height: 24px;
    }
  }

  .order-form.readonly .address-block {

    #addressId {
      @include init-flex-position(column);
    }

    label {
      margin-left: 4px;
      width: 60px;
    }

    .address-city,
    .address-street,
    .address-house,
    .address-apartment,
    .address-additional-info {
      margin: 2px;
      width: auto;
    }
  }

  .address-house input {
    padding: 1px 6px !important;
    text-align: center;
  }

  .address-apartment input.apartment-field {
    padding: 1px 6px !important;
    text-align: center;
  }

  .order-program-select {
    width: 150px;

    .dropdown-menu.open {
      width: 280px;
    }
  }

  .order-program-duration-input {
    width: 96px;

    .dropdown-menu.open {
      width: 120px;
    }
  }

  .order-program-price-input {
    width: 96px;
  }

  .order-program-executors-select {
    max-width: 184px;
    min-width: 160px;

    .dropdown-menu.open {
      width: 280px;
    }
  }

  .order-additional-services-select {
    @include flex(1 1);
    margin-bottom: 4px !important;
    margin-top: 4px !important;
    min-width: 400px;

    & > div > div {
      @include init-flex-position(row);
    }

    label {
      @include align-self(center);
      line-height: 1;
      margin-right: 16px;
      width: 160px;
    }

    ol {
      width: 320px;
    }
  }

  .order-additional-services-executors-select {
    @include flex(1 1);
    min-width: 400px;

    & > div {
      @include init-flex-position(column);
      @include justify-content(center);
    }

    & > div > label {
      line-height: 1;
    }
  }

  .services-executors-block {
    @include init-flex-position(row);
    @include flex-wrap(wrap);
    padding-left: 4px;
    //@include justify-content(space-between);

    .service-executor {
      @include flex(1 1);
      margin: 0 2px;
      width: 172px;
    }

    .dropdown-menu.open {
      width: 260px;
    }

    label {
      font-size: 11pt;
      font-weight: normal;
      margin-bottom: 2px;
      text-decoration: underline;
    }
  }

  .order-details-textarea {
    @include flex(1 1);
    min-width: 260px;

    textarea {
      height: 44px;
    }
  }

  .order-executor-comment-textarea {
    @include flex(1 1);
    min-width: 260px;

    textarea {
      height: 44px;
    }
  }

  .order-how-did-you-know-select {
    margin: 0 2px !important;
    width: 190px;

    .dropdown-menu.open {
      bottom: 100% !important;
      top: auto !important;
    }
  }

  .order-discount-select {
    margin: 0 2px !important;
    width: 190px;

    .dropdown-menu.open {
      bottom: 100% !important;
      top: auto !important;
    }
  }

  .order-cost-of-the-way-input {
    margin: 0 2px !important;
    width: 120px;
  }

  .order-total-price-input,
  .order-total-price-input-with-discount {
    @include flex(1 1);
    margin: 0 2px !important;
    min-width: 240px;
  }

  .form-group {
    margin: 0;
  }

  .form-group > div {
    @include init-flex-position(column);

    .form-control {
      @include flex(1 1);
      //width: 550px;
    }
  }

  .datetime-container {
    position: relative;
  }

  .datetime-picker-dropdown .btn-group.pull-left {
    display: none;
  }

  .field-column-container {
    @include init-flex-position(column);
  }

  .field-column-container > button {
    @include single-box-shadow(1px, 1px, 4px, .3px, #ddd);
    background: #8AAD89;
    border: 1px solid #888;
    color: #fff;
    margin-top: 4px;
    width: 120px;
  }

  .executor-comment textarea {
    border: 2px solid #8AAD89;
  }

  .many-to-many-container {
    @include init-flex-position(row);
    @include flex-wrap(wrap);

    .item-value {
      @include single-box-shadow(1px, 1px, 3px, .2px, #eee);
      background: #E4F1F5;
      border: 1px solid #888;
      border-radius: 2px;
      margin: 2px;
      padding: 2px 4px;
    }
  }

  .form-control[disabled],
  .many-to-many-container {
    @include noselect();
    cursor: default;
  }

  .form-control[disabled] {
    background: #fcfcfc;
  }

  //[disabled=true] {
  //  background: #fafafa;
  //}

  .field-container > button {
    margin-left: 12px;
  }

  .btn-custom {
    @include single-box-shadow(1px, 1px, 3px, .2px, #eee);
    background: #fafafa;
    margin-left: 4px;
  }

  textarea {
    height: 64px;
    resize: none;
  }

  .btn.dropdown-toggle:hover,
  .btn.dropdown-toggle:active,
  .btn.dropdown-toggle:focus,
  .btn-default:active {
    background: #fafafa;
  }

  .dropdown-menu {
    z-index: 99999999999;
  }

  .event-window__footer {
    @include init-flex-position(row);
    @include justify-content(flex-end);
    @include single-box-shadow(0, 0, 10px, .05px, #444);
    border-top: 1px solid #888;
    height: 48px;
    z-index: 20;

    &.panel-footer {
      padding-bottom: 4px !important;
      padding-top: 4px !important;
    }

    .btn {
      @include single-box-shadow(1px, 1px, 3px, .2px, #bbb);
    }

    .spacer {
      @include init-flex-position(column);
      @include justify-content(center);
      @include align-items(center);
      @include align-content(center);
      @include flex(1 1);

      color: #888;
      font-size: 10pt;
      padding: 4px 0;
    }

    .order-info__line__val {
      color: #444;
      font-size: 10.5pt;
      margin-left: 4px;
      text-decoration: underline;
    }
  }
}

// Styles for multiple select template
.multiple-mode, .single-item-mode {
  @include noselect();

  padding-bottom: 4px;

  hr {
    margin: 4px 4px 2px 4px;
    padding: 0;
  }

  li {
    background: #fff;
    outline: none;
  }

  li:first-child {
    margin-top: 8px;
  }

  a,
  a:hover,
  a:focus,
  a:active,
  li > a,
  li > a:hover,
  li > a:focus,
  li > a:active,
  li.active a,
  li.active a:hover,
  li.active a:focus,
  li.active a:active,
  .selected a,
  .selected a:hover,
  .selected a:focus,
  .selected a:active {
    background: #fff;
    color: #262626;
    outline: none;
  }

  li > a:hover,
  li.active > a:hover {
    background: #f2f2f2;
  }

  li.selected > a,
  li.selected > a:focus,
  li.selected > a:active,
  li.active.selected > a,
  li.active.selected > a:focus,
  li.active.selected > a:active {
    background: #CFE2E8;
  }

  li.selected > a:hover,
  li.active.selected > a:hover {
    background: darken(#CFE2E8, 6%);
  }
}
