@import 'settings';

.dialog-wrapper {
  margin: 0;
}

.change-pwd-panel-body {
  width: 400px;
}

.user-profile-panel-body {
  padding: 30px 60px;
  width: 740px;
}

.user-profile-form hr {
  margin: 8px 0;
  padding: 0;
}

.userprofile-readonly-field {
  @include init-flex-position(row);
  //font-family: arian_amu_serifregular, serif;

  .form-group {
    @include init-flex-position(row);
    @include flex(1 1);
    margin: 0;
  }

  .form-group > div {
    @include init-flex-position(row);
    @include flex(1 1);
  }

  .control-label {
    width: 250px;
  }

  .form-control {
    @include flex(1 1);
    background: #fcfcfc;
    //border: 1px solid #86A7BD;
    cursor: default;
  }

  .formly-field:first-child {
    margin-top: 15px;
  }

  .formly-field:last-child {
    margin-bottom: 15px;
  }

  .address-block {
    @include init-flex-position(row);
    @include flex(1 1);
    margin: 0 8px;
  }

  #address {
    @include init-flex-position(row);
    @include flex-wrap(wrap);
    @include flex(1 1);

    .address-field {
      @include init-flex-position(column);
      @include flex(1 1 120px);
      margin: 3px 8px;
    }

    .address-field:last-child {
      @include init-flex-position(column);
      margin-bottom: 3px;
      width: auto;
    }

    .control-label {
      font-weight: normal;
      width: auto;
    }

    .form-control {
      @include flex(1 1);
      width: auto;
    }

    .address-field:first-child {
      margin-top: 4px;
    }

    .address-field:last-child {
      margin-bottom: 2px;
    }

    textarea {
      resize: none;
    }
  }
}

