@import 'settings';

.panel-sms-delivery {
  @include init-flex-position(column);
  height: 580px;
  padding: 8px 0 0;
  width: 1000px;

  .nav-tabs li a {
    border-radius: 0;
  }

  .nav-tabs li.active a {
    background: #fcfcfc;
    border-bottom-color: #fcfcfc !important;
  }

  .tab-pane.active {
    @include init-flex-position(column);
    background: #fcfcfc;
    height: 526px;
    position: relative;
  }

  .manual-mode-wrapper {
    @include init-flex-position(column);
    @include flex(1 1);
    @include align-items(center);
    position: relative;

    .btn {
      margin: 18px 0 48px;
    }

    .filters {
      @include init-flex-position(row);
      @include align-items(center);
      @include align-self(stretch);
      @include justify-content(space-between);
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 2px;
      height: 56px;
      margin-top: 4px;
      position: relative;
    }

    .filters .client-counter {
      @include init-flex-position(row);
      @include align-items(center);
      //border-right: 1px solid #888;
      padding-left: 16px;
      width: 220px;

      span:first-child {
        color: #777;
      }

      span:nth-child(2) {
        color: #333;
        font-size: 16pt;
        margin-left: 4px;
      }
    }

    .btn-select-all {
      height: 36px;
      margin-right: 16px;
    }

    .msg-body {
      @include init-flex-position(column);
      @include flex(1 1);
      @include justify-content(center);
      @include align-items(center);
    }

    .msg-body textarea {
      border-radius: 2px;
      font-size: 11pt;
      height: 150px;
      padding: 4px;
      resize: none;
      width: 450px;
    }

    .msg-body .msg-tips {
      color: #888;
      font-size: 10pt;
      margin-top: 4px;
    }

    .msg-body .tip-title {
      color: #333;
    }
  }

  .manual-mode-wrapper .custom-date-range {
    @include init-flex-position(row);
    @include align-items(center);
    position: relative;
    //width: 460px;

    input {
      color: #777;
      cursor: hand;
      cursor: pointer;
      font-size: 11pt;
      height: 36px;
      margin: 0 4px;
      text-align: center;
      width: 120px;
    }

    .btn.btn-sm {
      margin: 0;
    }

    .btn.pull-left,
    .btn.pull-right {
      min-width: 30px;
    }

    .datetime-picker-dropdown .btn-group.pull-left,
    .datetime-picker-dropdown .btn-group.pull-right {
      display: none;
    }

    .custom-period-btn {
      height: 36px;
      margin-left: 8px;
    }
  }

  .scheduled-mode-wrapper {
    @include init-flex-position(row);
    @include flex(1 1);

    .title {
      @include init-flex-position(row);
      @include align-items(center);
      @include justify-content(center);
      color: #333;
      font-size: 11pt;
      position: relative;
    }

    .scheduled-events-block {
      @include init-flex-position(column);
      border-right: 1px solid #ddd;
      margin: 12px 8px 12px 12px;
      padding-right: 16px;
      width: 350px;
    }

    .scheduled-events-block > .edit-event-block {
      @include init-flex-position(column);
      @include justify-content(flex-start);
      background: #fff;
      border: 1px solid #bbb;
      border-radius: 2px;
      height: 192px;
      margin-bottom: 8px;
      margin-top: 4px;
      padding: 9px;
    }

    .scheduled-events-block > .event-list-block {
      @include flex(1 1);
      margin-top: 4px;
    }

    .checking-messages-block {
      @include init-flex-position(column);
      @include flex(1 1);
      margin: 12px 12px 12px 8px;
    }
  }

  .scheduled-events-block > .edit-event-block {
    .form-group {
      @include init-flex-position(row);
      @include align-items(center);
      @include flex(1 1);
      margin-bottom: 3px;
    }

    label {
      color: #666;
      font-size: 9pt;
      margin: 0 4px 0 0;
      padding: 0;
    }

    input,
    select,
    textarea {
      font-size: 10pt;
      height: 28px;
      padding: 3px 8px;
    }

    textarea {
      height: 62px;
      line-height: 1;
    }

    .form-group.event-name {
      max-height: 28px;
    }

    #e-name {
      min-width: 200px;
    }

    .form-group.event-days {
      max-width: 120px;
    }

    .event-delay {
      @include init-flex-position(row);
    }

    #e-days {
      width: 80px;
    }

    #e-type {
      min-width: 140px;
    }

    .event-msg {
      height: 200px;
    }

    #e-msg {
      min-width: 200px;
      resize: none;
    }

    button {
      @include align-self(center);
      width: 120px;
    }
  }

  .event-list-title {
    @include init-flex-position(row);
    @include align-items(center);
    @include justify-content(space-between);
    color: #333;
    font-size: 11pt;

    span {
      margin-left: 110px;
    }

    .add-event {
      @include init-flex-position(row);
      @include align-items(center);
      color: #67b168;
      cursor: hand;
      cursor: pointer;
      font-size: 14pt;
      text-decoration: none;
    }

    .add-event:hover {
      color: darken(#67b168, 10%);
    }
  }

  .scheduled-events-block > .event-list-block {
    .event-item {
      @include init-flex-position(row);
      @include align-items(center);
      @include justify-content(flex-start);
      background: #fff;
      border: 1px solid #bbb;
      border-radius: 2px;
      color: #333;
      cursor: hand;
      cursor: pointer;
      font-size: 11pt;
      height: 28px;
      line-height: 1;
      margin-bottom: 2px;
    }

    .event-item a {
      @include init-flex-position(row);
      @include align-items(center);
      color: #a94442;
      cursor: hand;
      cursor: pointer;
      font-size: 14pt;
      margin: 0 8px 0 4px;
      text-decoration: none;

      &:hover {
        color: darken(#a94442, 10%);
      }
    }

    .event-item:hover {
      background: #eee;
      border: 1px solid #aaa;
      color: #444;
    }
  }

  .checking-messages-block {
    .messages-block {
      margin-top: 8px;
      max-height: 438px;
      min-height: 438px;
      overflow: auto;
    }

    .message-item {
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 4px;
      margin: 4px;
      padding: 4px;
    }

    .message-item.disabled {
      border: 1px solid #bbb;
      background: #ddd;

      .client-info,
      .msg-event-name,
      .msg-text {
        color: #888;

        span {
          color: #888;
        }
      }
    }

    .message-header {
      @include init-flex-position(row);
    }

    .client-info {
      @include init-flex-position(row);
      @include align-items(center);
    }

    .msg-event-name,
    .client-info {
      color: #888;
      font-size: 10pt;
      line-height: 1.1;

      span {
        color: #333;
        font-size: 9pt;
        margin-right: 4px;
      }
    }

    .msg-client-name {
      margin-right: 4px;
    }

    .msg-meta {
      @include flex(1 1);
    }

    .msg-disabled {
      color: #a94442;
      cursor: hand;
      cursor: pointer;
      font-size: 14pt;
    }

    .msg-text {
      border-top: 1px solid #ddd;
      color: #555;
      font-size: 10pt;
      line-height: 1.1;
      padding: 8px;
    }

    .messages-control-block {
      @include init-flex-position(row);
      @include align-items(center);
      @include justify-content(flex-end);
      border-top: 1px solid #ccc;
      min-height: 48px;
      padding-right: 32px;
    }

    .messages-control-block > button {
      height: 36px;
      width: 120px;
    }
  }
}
