@import 'settings';

.statistic-panel {
  @include init-flex-position(column);
  background: #fcfcfc;
  height: 600px;
  padding: 2px 0 0;
  width: 1000px;

  .periods-menu {
    @include init-flex-position(row);
    @include align-items(center);
    //border: 1px solid #ccc;
    //border-radius: 2px;
    height: 46px;
    margin: 4px 8px;
    padding-left: 12px;

    button {
      height: 32px;
      margin: 0 2px;
      min-width: 120px;
    }
    button.checked {
      background: #bbb;
      border: 2px solid #aaa;
    }
  }

  hr.divider {
    border-color: #ddd;
    margin: 0;
    padding: 0;
  }

  .statistic-body {
    @include flex(1 1);
    background: #fff;
    padding-top: 4px;

    .nav-tabs li a {
      border-radius: 0;
    }

    .nav-tabs li.active a {
      background: #fcfcfc;
      border-bottom-color: #fcfcfc !important;
    }

    .tab-pane.active {
      @include init-flex-position(column);
      background: #fcfcfc;
      height: 549px;
      padding-top: 8px;
    }
  }

  .custom-date-range {
    @include init-flex-position(row);
    @include align-items(center);
    border-left: 1px solid #888;
    margin-left: 18px;
    padding-left: 18px;
    position: relative;
    width: 400px;

    input {
      color: #777;
      cursor: hand;
      cursor: pointer;
      font-size: 9pt;
      height: 28px;
      margin: 0 4px;
      text-align: center;
      width: 80px;
    }

    .btn.pull-left,
    .btn.pull-right {
      min-width: 30px;
    }

    .datetime-picker-dropdown .btn-group.pull-left,
    .datetime-picker-dropdown .btn-group.pull-right {
      display: none;
    }

    .custom-period-btn {
      margin-left: 8px;
    }
  }

  .stats-content {
    @include init-flex-position(row);
    @include flex(1 1);
    padding-left: 12px;
  }

  .common-stats-wrapper {
    @include init-flex-position(row);
    @include align-items(center);
    @include justify-content(center);
    margin: 12px 0 8px 0;

    .line-info {
      margin: 0 8px;
    }

    .l-title {
      color: #333;
      font-weight: bolder;
      text-decoration: underline;
    }
  }

  .orders-stats-wrapper,
  .finance-stats-wrapper {
    @include init-flex-position(column);
    @include align-items(center);
    @include flex(1 1 400px);
    margin: 0 8px 8px;
    padding: 12px;
    position: relative;

    table {
      width: 100%;
    }

    .table-title {
      font-weight: bolder;
    }

    thead, tbody, tfoot, tr, td, th {
      display: block;
    }

    tr:after {
      clear: both;
      content: ' ';
      display: block;
      visibility: hidden;
    }

    thead th {
      color: #777;
      font-size: 11pt;
      height: 30px;
    }

    tbody {
      max-height: 320px;
      min-height: 60px;
      overflow-y: auto;
    }

    tbody td, thead th, tfoot th, tfoot td {
      float: left;
    }

    thead th:first-child,
    tbody td:first-child,
    tfoot th:first-child {
      width: 260px;
    }

    thead th:nth-child(2),
    tbody td:nth-child(2),
    tfoot td:nth-child(2) {
      width: 130px;
    }
  }

  .finance-stats-wrapper {
    @include flex(2 2 400px);

    tbody {
      max-height: 330px;
      min-height: 120px;
    }

    thead th:first-child,
    tbody td:first-child,
    tfoot th:first-child {
      width: 200px;
    }

    thead th:nth-child(2),
    tbody td:nth-child(2),
    tfoot td:nth-child(2) {
      width: 100px;
    }

    thead th:nth-child(3),
    tbody td:nth-child(3),
    tfoot td:nth-child(3) {
      width: 140px;
    }
  }

  .source-stats-wrapper {
    @include init-flex-position(column);
    @include align-items(center);
    margin: 8px;
    padding: 12px;

    .table-title {
      font-weight: bolder;
    }

    table {
      font-size: 10pt;
      margin-top: 12px;
    }

    thead th {
      color: #444;
      font-size: 10pt;
      font-style: italic;
    }

    .month-name {
      color: #444;
      font-style: italic;
      font-weight: bolder;
      text-decoration: underline;
    }

    .cell-content {
      @include init-flex-position(row);
      @include justify-content(center);
      @include align-items(center);
    }

    .diff-percent-wrapper {
      font-size: 7pt;
      margin-left: 4px;
    }

    .up {
      color: #18BD9B;
    }

    .down {
      color: #a94442;
    }
  }
}
