@import 'settings';

.users-block {
  margin: 2em 3em 2em;

  hr {
    border-color: #fff;
    margin: .1em 0 .6em;
  }
}

.users-block__title {
  @include init-flex-position(row);
  @include justify-content(space-between);
  @include align-items(center);
  color: #546f8b;
  font-size: 12pt;

  .add-user-btn {
    @include noselect();
    @include single-box-shadow(.6px, .6px, 2px, .3px, #aaa);
    background: #8AAD89;
    border: 1px solid darken(#8AAD89, 6%);
    border-radius: 2px;
    color: #f6f6f6;
    font-size: 10pt;
    line-height: 1;
    margin-bottom: .08em;
    margin-right: .3em;
    padding: .06em .2em;
    text-decoration: none;
  }
}

.user-list {
  @include init-flex-position(column);
  margin: 0 1em;

  .empty-list {
    @include align-self(flex-start);
    //text-decoration: underline;
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 10pt;
    padding: .8em 2em;
  }

  .line-user {
    @include init-flex-position(row);
    @include align-items(center);
  }

  .user-info {
    @include init-flex-position(row);
    //background: #fcfcfc;
    background: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #777;
    //font-size: 10pt;
    margin-bottom: .2em;
    margin-right: .6em;
    padding: .2em;
    width: 1060px;

    .user-info__lbl {
      margin-left: 2em;
      margin-right: .5em;
    }

    .user-info__full_name {
      color: #555;
      //font-size: 11pt;
      margin-left: .4em;
      width: 18em;
    }

    .user-info__phone {
      margin-right: 1em;
      width: 10em;
    }

    .user-info__email {
      margin-right: 1em;
      width: 16em;
    }
  }

  .user-control {
    a {
      margin: .05em .02em;
    }

    img {
      @include single-box-shadow(1.2px, 1.2px, 2px, .3px, #ccc);
      background: #f6f6f6;
      border-radius: 1px;
      height: 14px;
      padding: .1em;
      width: auto;
    }
  }
}

