@import 'settings';

.user-profiles-content {
  @include init-flex-position(column);
  width: 1000px;

  .user-profiles-panel-body {
    @include init-flex-position(row);
    @include flex(1 1);
    height: 500px;
    padding: 0;
  }

  .grid-wrapper {
    @include init-flex-position(column);
    border-right: 1px solid #ccc;
    width: 580px;

    .grid-control-panel {
      @include init-flex-position(row);
      @include justify-content(flex-start);
      background: #fafafa;
      padding: 2px;
    }

    .grid-control-panel .btn-add {
      margin-right: 4px;
      width: 41px;
    }

    .grid-control-panel .search-field {
      width: 310px;
    }

    .grid {
      @include flex(1 1);
      background: #fdfdfd;
      border-right-width: 0;
      //height: 360px;
    }

    .ui-grid-cell {
      cursor: hand;
      cursor: pointer;
    }

    .ui-grid-row-selected .ui-grid-cell {
      border-color: #aaa;
    }

    .pagination-container {
      margin: 8px auto;
      //height: 30px;
    }

    .ctrl-btns-wrapper {
      @include init-flex-position(row);
      @include justify-content(flex-start);
    }

    .ctrl-btn {
      @include init-flex-position(column);
      @include justify-content(center);
      margin: 1px;
      padding: 2px;
      width: 27px;
    }

    .ctrl-btn:first-child {
      margin-left: 3px;
    }

    .ctrl-btn:last-child {
      margin-left: 8px;
    }
  }

  .details-wrapper {
    @include init-flex-position(column);
    @include flex(1 1);
    margin: 4px;
  }

  .user-profile-form {
    @include init-flex-position(column);
    @include flex(1 1);
  }

  .user-profile-form .details-body {
    @include init-flex-position(column);
    //@include justify-content(space-between);
    @include justify-content(center);
    @include flex(1 1);
    background: #fafafa;
    border: 1px solid #ccc;

    .formly {
      @include init-flex-position(column);
      //@include justify-content(center);
      @include flex(1 1);
      margin: 46px 14px;
    }

    .form-btns-container {
      @include init-flex-position(row);
      @include align-items(center);
      @include justify-content(flex-end);
      border-top: 1px solid #ccc;
      height: 46px;
      padding-right: 6px;
    }

    .form-btns-container .btn-save {
      margin-right: 4px;
    }
  }

  .user-profile-form .form-group {
    margin: 0;
  }

  .user-profile-form .form-group > div {
    @include init-flex-position(row);
    @include align-items(center);
    margin-bottom: 4px;

    .control-label {
      font-size: 10pt;
      font-weight: normal;
      line-height: 1;
      width: 110px;
    }

    .form-control {
      height: 34px;
      width: 270px;
    }

    .error-messages {
      display: none;
    }
  }

  .user-profile-form .formly-field-textarea .form-group > div {
    @include init-flex-position(column);
    @include align-items(stretch);
    padding-top: 8px;

    .control-label {
      width: auto;
    }

    .form-control {
      font-size: 9pt;
      height: 70px;
      padding: 4px;
      resize: none;
      width: auto;
    }
  }
}

